Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  DEV_BRANCH: "master"
  STG_BRANCH: "staging"

build frontend:
  stage: build
  image: node:16
  tags:
    - docker
  rules:
    - if: "$CI_MERGE_REQUEST_ID != null"
      changes:
        - frontend/**/*
        - .gitlab-ci.yml
      when: always
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $STG_BRANCH"
      when: always
  before_script:
    - cd frontend
    - npm ci
  script:
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
      - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
    - docker
  rules:
    - if: "$CI_MERGE_REQUEST_ID != null"
      changes:
        - admin-frontend/**/*
        - .gitlab-ci.yml
      when: always
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $STG_BRANCH"
      when: always
  before_script:
    - cd admin-frontend
    - npm ci
  script:
    - GENERATE_SOURCEMAP=false npm run export
  after_script:
    - ls -l admin-frontend
    - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
      - admin_frontend_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: mariadb:5.5
      alias: test_mysql
  tags:
    - docker
  needs: []
  rules:
    - if: "$CI_MERGE_REQUEST_ID != null"
      changes:
        - baytree_app/**/*
        - .gitlab-ci.yml
      when: always
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $STG_BRANCH"
      when: always
  variables:
    DOMAIN: "example.com"
    SECRET_KEY: "test"
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ""
    EMAIL_PORT: ""
    EMAIL_USER: ""
    EMAIL_PASSWORD: ""
    VIEWS_USERNAME: ""
    VIEWS_PASSWORD: ""
  before_script:
    - cd baytree_app
  script:
    - pip install -r requirements.txt
    - python manage.py check
    - python manage.py makemigrations --check

.deploy-script: &deploy-script
  - cp /var/baytree/.env ./.env
  - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
  - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
  - docker image prune -f # remove unused images since we just built new ones
  - bash -c 'sleep 15'
  - docker exec baytree_server python manage.py migrate

deploy development:
  stage: deploy
  environment:
    name: development
    url: https://baytree-dev.cmpt.sfu.ca
  tags:
    - deploy-development
  rules:
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH"
      when: on_success
  script:
    - *deploy-script

deploy staging:
  stage: deploy
  environment:
    name: staging
    url: https://baytree-stg.cmpt.sfu.ca
  tags:
    - deploy-staging
  rules:
    - if: "$CI_COMMIT_BRANCH == $STG_BRANCH"
      when: on_success
  script:
    - *deploy-script

Use global toast container with styles
  frontend/src/App.tsx
  frontend/src/Components/ResetPassword.tsx
  frontend/src/index.css
  frontend/src/index.tsx
Due: build frontend

Fix routing
  frontend/src/Utils/PrivateRoute.tsx
  frontend/src/context/AuthContext.tsx
Due: build frontend

Extract form container
  frontend/src/Components/questionnaire/QuestionField.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/Components/shared/FormContainer.tsx
Due: build frontend

Add modal component for modal usage of mentor portal
  frontend/src/Components/shared/Modal.tsx
Due: build frontend

Create login modal for initial login data privacy message
  frontend/src/Components/shared/LoginModal.tsx
Due: build frontend

Add mobile layout hook
  frontend/src/hooks/useMobileLayout.tsx
Due: build frontend

Create path to check for initial custom user login
  baytree_app/users/urls.py
Due: build server

Fix session submitting
  frontend/src/App.tsx
  frontend/src/Components/Sessions.tsx
  frontend/src/Components/sessions/Sessions.tsx
  frontend/src/Components/sessions/session.ts
Due: build frontend

Create view to handle request that checks whether the custom user has logged in or not
  baytree_app/users/views.py
Due: build server

Add placeholder div to allow for a modal container
  frontend/src/App.tsx
Due: build frontend

Add login modal and logic to login component
  frontend/src/Components/Login.tsx
Due: build frontend

Remove temporary debug logging
  frontend/src/Components/Login.tsx
Due: build frontend

Add react icons dependency for modal close icon
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Add navigation menu for mobile
  frontend/src/Components/dashboard/MobileMenu.tsx
  frontend/src/Components/dashboard/NavigationBar.tsx
Due: build frontend

Responsive top navigation menu
  frontend/src/Components/dashboard/MobileMenu.tsx
  frontend/src/Components/dashboard/NavigationBar.tsx
Due: build frontend

Close drawer after navigation
  frontend/src/Components/dashboard/Dashboard.tsx
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/dashboard/SideMenu.tsx
Due: build frontend

Start refactoring shared datagrid
  admin-frontend/components/pages/mentors/addMentorModal.tsx
  admin-frontend/components/shared/button.tsx
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridBody.tsx
  admin-frontend/components/shared/datagrid/datagridLoadingBody.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/pages/mentorRoles.tsx
  admin-frontend/pages/mentors.tsx
Due: build admin-frontend

Update modal width for responsive UI
  frontend/src/Components/shared/Modal.tsx
Due: build frontend

Change login modal to accommodate responsive UI
  frontend/src/Components/Login.tsx
  frontend/src/Components/shared/LoginModal.tsx
Due: build frontend

Fix incorrect button text
  frontend/src/Components/shared/LoginModal.tsx
Due: build frontend

Update logic for login modal
  frontend/src/Components/Login.tsx
  frontend/src/Components/shared/LoginModal.tsx
Due: build frontend

Update button style for visible UI on mobile
  frontend/src/Components/shared/LoginModal.tsx
Due: build frontend

Refactor home statistics
  frontend/src/Components/home/Statistics.tsx
  frontend/src/Components/home/stats.ts
Due: build frontend

Work on inner datagrid component UI and abstract code
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridBody.tsx
  admin-frontend/components/shared/datagrid/datagridBodyCreatedDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridBodyDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridBodyLogic.ts
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridRowLogic.tsx
Due: build admin-frontend

Responsive home dashboard
  frontend/src/Components/Profile.tsx
  frontend/src/Components/home/Home.tsx
  frontend/src/Components/home/MenteeInfo.tsx
  frontend/src/Components/home/Statistics.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/Components/sessions/Sessions.tsx
  frontend/src/Components/shared/TitledContainer.tsx
Due: build frontend

Add mentor permission to see their own views info
  baytree_app/views_api/permissions.py
  baytree_app/views_api/volunteers.py
Due: build server

Add permissions for searchEmail parameter as well
  baytree_app/views_api/permissions.py
Due: build server

Create initial datagrid cell component
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
Due: build admin-frontend

Return viewsPersonId/is_mentor on api/token response
  baytree_app/baytree_app/views.py
Due: build server

Return viewsPersonId as an int from api/token
  baytree_app/baytree_app/views.py
Due: build server

Reponsive statistics
  frontend/src/Components/home/Home.tsx
  frontend/src/Components/home/Statistics.tsx
Due: build frontend

Replace localStorage with context
  frontend/src/Components/Notification.tsx
  frontend/src/Components/Records.tsx
  frontend/src/Components/goals/CreateGoals.tsx
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Components/home/Scheduler.tsx
Due: build frontend

Code reformat
  frontend/src/Components/Notification.tsx
  frontend/src/Components/Profile.tsx
  frontend/src/Components/dashboard/Dashboard.tsx
  frontend/src/Components/dashboard/MobileMenu.tsx
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/dashboard/SideMenu.tsx
  frontend/src/Components/goals/CreateGoals.tsx
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Components/home/Home.tsx
  frontend/src/Components/home/MenteeInfo.tsx
  frontend/src/Components/home/Scheduler.tsx
  frontend/src/Components/home/Statistics.tsx
  frontend/src/Components/home/stats.ts
  frontend/src/Components/sessions/Sessions.tsx
  frontend/src/Components/sessions/session.ts
  frontend/src/Components/shared/TitledContainer.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/index.tsx
Due: build frontend

Refactor authentication API
  frontend/src/api/auth.ts
Due: build frontend

Retrieve mentor information from Views
  frontend/src/Components/Profile.tsx
  frontend/src/api/auth.ts
  frontend/src/api/views.ts
  frontend/src/context/AuthContext.tsx
Due: build frontend

Add favicon
  frontend/index.html
  frontend/public/favicon/android-chrome-192x192.png
  frontend/public/favicon/android-chrome-512x512.png
  frontend/public/favicon/apple-touch-icon.png
  frontend/public/favicon/favicon-16x16.png
  frontend/public/favicon/favicon-32x32.png
  frontend/public/favicon/favicon.ico
  frontend/public/favicon/site.webmanifest
Due: build frontend

Responsive record page
  baytree_app/records/views.py
  frontend/src/Components/Records.tsx
Due: build frontend, build server

Extract API calls from components
  frontend/src/Components/Notification.tsx
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/dashboard/SideMenu.tsx
  frontend/src/Components/goals/CreateGoals.tsx
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Components/goals/GoalsList.tsx
  frontend/src/Components/home/MenteeInfo.tsx
  frontend/src/Components/home/Scheduler.tsx
  frontend/src/Components/home/Statistics.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/Components/questionnaire/question.ts
  frontend/src/api/goals.ts
  frontend/src/api/mentorAccount.ts
  frontend/src/api/misc.ts
  frontend/src/api/notification.ts
Due: build frontend

Work on datagrid component, lift up state
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridBody.tsx
  admin-frontend/components/shared/datagrid/datagridBodyCreatedDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridBodyDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridLogic.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridRowLogic.tsx
Due: build admin-frontend

Fix the code and add more comments
  frontend/src/App.tsx
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/questionnaire/QuestionField.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/Components/sessions/Sessions.tsx
Due: build frontend
