Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

build frontend:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - cd frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
  - docker
  before_script:
  - cd admin-frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run export
  after_script:
  - ls -l admin-frontend
  - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: mariadb:5.5
    alias: test_mysql
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ''
  ...

Automatically add creation date
  baytree_app/goals/migrations/0009_alter_goal_creation_date.py
  baytree_app/goals/models.py
Due: build server

Add goal dialog upon adding or editting
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/GoalsDetailList.tsx
  frontend/src/Components/goals/GoalsPage.tsx
Due: build frontend

Add form inside the goal dialog
  frontend/src/Components/goals/GoalDialog.tsx
Due: build frontend

Fix dialog page
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/GoalsPage.tsx
Due: build frontend

Publish Docker Hub images for deployment automation
  .gitignore
  .gitlab-ci.yml
  docker-compose.deploy.yml
  docker-compose.override.yml
  docker-compose.production.yml
  scripts/README.md
  scripts/setup_production.sh
  scripts/update.sh
Due: build frontend, build admin-frontend, build server

Submit goals
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/GoalsPage.tsx
  frontend/src/Utils/exportGoals.ts
  frontend/src/api/goals.ts
Due: build frontend

Resfresh after submitting
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/goals/GoalsPage.tsx
  frontend/src/api/goals.ts
  frontend/src/hooks/useGoals.ts
Due: build frontend

Mark goals as complete
  baytree_app/goals/views.py
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/GoalsDetailList.tsx
  frontend/src/Components/goals/GoalsPage.tsx
  frontend/src/api/goals.ts
Due: build frontend, build server

Clean up frontend code
  frontend/src/App.tsx
  frontend/src/Components/goals/CreateGoals.tsx
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Components/goals/GoalsDetailList.tsx
  frontend/src/Components/goals/GoalsList.tsx
  frontend/src/Components/goals/GoalsPage.tsx
Due: build frontend

Incorporate new API to admin goals page
  admin-frontend/pages/goals.tsx
Due: build admin-frontend

CSV export on the admin portal
  admin-frontend/api/backend/goals.ts
  admin-frontend/components/pages/goals/GoalListItem.tsx
  admin-frontend/package-lock.json
  admin-frontend/package.json
  admin-frontend/pages/goals.tsx
  admin-frontend/util/extractDataFromGoals.ts
Due: build admin-frontend

Add query params for goal API
  baytree_app/baytree_app/urls.py
  baytree_app/goals/views.py
Due: build server

Update new API for the admin portal
  admin-frontend/api/backend/goals.ts
Due: build admin-frontend

Minified goal list
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/GoalStatus.tsx
  frontend/src/Components/goals/GoalsMiniList.tsx
Due: build frontend

Active goals summary
  frontend/src/Components/home/ActiveGoalsSummary.tsx
  frontend/src/Components/home/Home.tsx
  frontend/src/api/goals.ts
  frontend/src/hooks/useGoals.ts
Due: build frontend

Small fixes
  baytree_app/goals/urls.py
  frontend/src/Components/goals/GoalsStatistics.tsx
Due: build frontend, build server

Add input requirements to the goal dialog
  frontend/src/Components/goals/GoalDialog.tsx
Due: build frontend

Fetch sessions in descending order
  baytree_app/records/views.py
  baytree_app/views_api/sessions.py
Due: build server

Separate query from record hooks
  frontend/src/Components/records/RecordRow.tsx
  frontend/src/Components/records/Records.tsx
  frontend/src/hooks/useRecords.ts
Due: build frontend

Add orderring to the records page
  frontend/src/Components/records/Records.tsx
  frontend/src/api/records.ts
  frontend/src/hooks/useRecords.ts
Due: build frontend

Change CI/CD so dev and staging servers pull images from docker hub
  .gitlab-ci.yml
  README.md
  docker-compose.deploy.yml
  docker-compose.production.yml
  scripts/README.md
  scripts/setup_production.sh
  scripts/update.sh
Due: build frontend, build admin-frontend, build server

Deploy script now gets latest docker version, and can create initial admin user
  baytree_app/users/management/commands/seedadminuser.py
  scripts/setup_production.sh
Due: build server

Complete responsive calendar
  frontend/src/Components/home/Scheduler.tsx
  frontend/src/Components/records/HolidayDetail.tsx
  frontend/src/api/misc.ts
  frontend/src/hooks/useEventDetailPopup.ts
  frontend/src/hooks/useHolidayEvents.ts
  frontend/src/hooks/useScheduler.ts
  frontend/src/hooks/useSessionEvents.ts
Due: build frontend

Small calendar changes
  frontend/src/Components/home/Scheduler.tsx
Due: build frontend

Record statistics API
  baytree_app/records/urls.py
  baytree_app/records/views.py
Due: build server

Change 'docker-compose' to 'docker compose'
  .gitlab-ci.yml
  README.md
  docker-compose.deploy.yml
  docker-compose.override.yml
  scripts/setup_production.sh
  scripts/update.sh
Due: build frontend, build admin-frontend, build server

Intercept private APIs
  frontend/src/hooks/useRefreshToken.ts
Due: build frontend

Fresh access token for private APIs
  frontend/src/Utils/PrivateRoute.tsx
  frontend/src/api/auth.ts
  frontend/src/api/goals.ts
  frontend/src/api/misc.ts
  frontend/src/api/notification.ts
  frontend/src/api/views.ts
Due: build frontend

Update goals without refreshing
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Components/goals/GoalsList.tsx
  frontend/src/api/goals.ts
  frontend/src/hooks/useGoals.ts
Due: build frontend

Logout due to expired refresh token
  frontend/src/hooks/useRefreshToken.ts
Due: build frontend

Fix use sessions hooks
  frontend/src/api/records.ts
  frontend/src/hooks/useSessionEvents.ts
Due: build frontend

Show error toasts
  frontend/src/Components/home/Scheduler.tsx
Due: build frontend

Use UK timezone for all date
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/home/Scheduler.tsx
  frontend/src/Components/records/HolidayDetail.tsx
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/Components/records/RecordRow.tsx
  frontend/src/Components/sessions/Sessions.tsx
  frontend/src/Components/sessions/session.ts
  frontend/src/Utils/locale.ts
  frontend/src/hooks/useSessionEvents.ts
Due: build frontend

Only expand one item in active goal summary
  frontend/src/Components/goals/GoalsMiniList.tsx
Due: build frontend

Fix goal updates
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/hooks/useGoals.ts
Due: build frontend

Lazily export goal data
  frontend/src/Components/goals/GoalExportButton.tsx
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Utils/exportGoals.ts
Due: build frontend

Export CSV in admin portal
  admin-frontend/api/backend/goals.ts
  admin-frontend/components/pages/goals/GoalExportButton.tsx
  admin-frontend/pages/goals.tsx
  admin-frontend/util/extractDataFromGoals.ts
Due: build admin-frontend

Change calendar event urls
  baytree_app/baytree_app/urls.py
Due: build server

Rename conflicting interface variable
  admin-frontend/api/backend/calendarEvents.ts
Due: build admin-frontend

Fix events url for sidebar links
  admin-frontend/components/shared/Navbar/sidebarLinks.tsx
Due: build admin-frontend

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml
