Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml

More formatting
  frontend/cypress/components/goals/GoalListItem.cy.tsx
  frontend/cypress/e2e/navigation.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/component.tsx
  frontend/cypress/support/e2e.ts
  frontend/package.json
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/dashboard/SideMenu.tsx
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/GoalQuerying.tsx
  frontend/tsconfig.json
Due: build frontend

Update README.md
  README.md
  frontend/README.md
Due: build frontend

Fix associations field access issues
  baytree_app/views_api/associations.py
Due: build server

Add CONTRIBUTING
  CONTRIBUTING.md
Due: none

Additional button for export session notes
  baytree_app/views_api/sessions.py
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/Components/records/RecordExportDetailButton.tsx
Due: build frontend, build server

fix formatting
  frontend/src/Components/records/RecordExportDetailButton.tsx
Due: build frontend

Feat: setup for celery. Set up tasks for storing active mentor users. Added django management commands. Added redis to docker-compose.yml
  .vscode/launch (1).json
  .vscode/launch.json
  README.md
  baytree_app/baytree_app/__init__.py
  baytree_app/baytree_app/celery.py
  baytree_app/baytree_app/settings.py
  baytree_app/cronjobs/__init__.py
  baytree_app/cronjobs/admin.py
  baytree_app/cronjobs/apps.py
  baytree_app/cronjobs/management/commands/start_celery.py
  baytree_app/cronjobs/management/commands/stop_celery.py
  baytree_app/cronjobs/migrations/__init__.py
  baytree_app/cronjobs/models.py
  baytree_app/cronjobs/tasks.py
  baytree_app/cronjobs/tests.py
  baytree_app/cronjobs/views.py
  baytree_app/requirements.txt
  docker-compose.yml
Due: build server

add command to Readme and docker
  README.md
  baytree_app/Dockerfile
Due: build server

Update README.md
  README.md
Due: none

Revert "Update README.md"
  README.md
Due: none

Revert "Merge branch 'Preferences-fixed' into 'master'"
  README.md
  baytree_app/Dockerfile
Due: build server

fix for questionnaire
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

removed console.log
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

bugfix: fixed pipeline by providing celery environment variables
  .gitlab-ci.yml
  baytree_app/baytree_app/settings.py
Due: build frontend, build admin-frontend, build server

Feature: Storing active mentors
  baytree_app/baytree_app/celery.py
  baytree_app/cronjobs/tasks.py
Due: build server

added component tests for login, resetPassword and forgotPassword pages
  frontend/cypress/components/forms/ForgotPasswordPage.cy.tsx
  frontend/cypress/components/forms/LoginPage.cy.tsx
  frontend/cypress/components/forms/ResetPasswordPage.cy.tsx
Due: build frontend

Revert "added component tests for login, resetPassword and forgotPassword pages"
  frontend/cypress/components/forms/ForgotPasswordPage.cy.tsx
  frontend/cypress/components/forms/Login.cy.tsx
  frontend/cypress/components/forms/ResetPasswordPage.cy.tsx
Due: build frontend

Revert "Merge branch 'component-tests' into 'master'"
  frontend/cypress/components/forms/ForgotPasswordPage.cy.tsx
  frontend/cypress/components/forms/Login.cy.tsx
  frontend/cypress/components/forms/ResetPasswordPage.cy.tsx
Due: build frontend

msw package version update
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Generate statistics once every hour because it is less expensive to compute. Previously it was too expensive and it was making waiting too long. This improves the application.
  baytree_app/baytree_app/celery.py
  baytree_app/cronjobs/tasks.py
  baytree_app/users/migrations/0034_sessionstats.py
  baytree_app/users/models.py
  baytree_app/users/views.py
Due: build server

questionnaire fix on frontend
  baytree_app/questionnaires/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/Components/questionnaire/CheckBoxInput.tsx
  frontend/src/Components/questionnaire/SelectorInput.tsx
  frontend/src/Components/questionnaire/SpecialInput.tsx
  frontend/src/api/misc.ts
  frontend/src/hooks/useQuestionnaire.ts
  frontend/src/pages/Questionnaire.tsx
Due: build frontend, build server

remove console.log
  frontend/src/hooks/useQuestionnaire.ts
  frontend/src/pages/Questionnaire.tsx
Due: build frontend

error handling for XML response
  baytree_app/views_api/sessions.py
Due: build server

implemented the test fluent bit
  docker-compose.yml
  fluent-bit/fluent-bit.conf
  fluent-bit/parsers.conf
  service.yml
Due: none

Test TCP communication fluentBit
  .gitignore
  baytree_app/manage.py
  docker-compose.yml
  fluent-bit/fluent-bit.conf
  fluent-bit/testFluentBit.py
  service.yml
Due: build server

Added Http test request
  docker-compose.yml
  fluent-bit/fluent-bit.conf
  fluent-bit/testFluentBit.py
Due: none

Dependencies upgraded
  baytree_app/requirements.txt
  docker-compose.yml
Due: build server

Update RecordExportDetailButton.tsx
  frontend/src/Components/records/RecordExportDetailButton.tsx
Due: build frontend

RegEx to handle special cases
  frontend/src/Components/questionnaire/SpecialInput.tsx
  frontend/src/Components/questionnaire/TextInput.tsx
  frontend/src/pages/Questionnaire.tsx
Due: build frontend

configured jest for mocking
  frontend/babel.config.js
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/auth.test.ts
  frontend/tsconfig.json
Due: build frontend

test to mock authentication
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/auth.test.ts
Due: build frontend

fixed pipeline issue
  frontend/src/api/auth.test.ts
Due: build frontend

remove export, stats
  frontend/src/Components/home/Statistics.tsx
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/pages/Goals.tsx
Due: build frontend

Support for search mentee name for Goal
  admin-frontend/pages/goals.tsx
  baytree_app/goals/views.py
Due: build admin-frontend, build server

able to push log to aws
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/settings.py
  baytree_app/baytree_app/views.py
  baytree_app/requirements.txt
  baytree_app/users/views.py
  docker-compose.yml
  fluent-bit/fluent-bit.conf
  fluent-bit/parsers.conf
  fluent-bit/testFluentBit.py
Due: build server

updated dependencies for admin portal
  admin-frontend/package-lock.json
  admin-frontend/package.json
Due: build admin-frontend

separate logging with level
  baytree_app/app_logging/views.py
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/settings.py
  baytree_app/baytree_app/views.py
  baytree_app/requirements.txt
  fluent-bit/fluent-bit.conf
Due: build server
