Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

build frontend:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - cd frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
  - docker
  before_script:
  - cd admin-frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run export
  after_script:
  - ls -l admin-frontend
  - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: mariadb:5.5
    alias: test_mysql
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ''
  ...

Create mentor-mentee-ids helper endpoint
  baytree_app/views_api/associations.py
  baytree_app/views_api/urls.py
  frontend/src/api/views.ts
  frontend/src/hooks/useMentees.ts
  frontend/src/hooks/useVenues.ts
Due: build frontend, build server

Create mentor-mentees helper endpoint
  baytree_app/views_api/associations.py
  baytree_app/views_api/sessions.py
  baytree_app/views_api/urls.py
  frontend/src/Components/sessions/Sessions.tsx
  frontend/src/api/views.ts
  frontend/src/hooks/useMentees.ts
Due: build frontend, build server

Change returned sessionId to int
  baytree_app/views_api/sessions.py
Due: build server

Create input components for names
  frontend/src/Components/questionnaire/ChoiceInput.tsx
  frontend/src/Components/questionnaire/MenteesNameInput.tsx
  frontend/src/Components/questionnaire/MentorNameQuestion.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/Components/questionnaire/TextInput.tsx
  frontend/src/Components/questionnaire/TextQuestion.tsx
  frontend/src/api/views.ts
  frontend/src/hooks/useProfile.ts
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

Remove associations endpoint, but keep logic
  baytree_app/views_api/associations.py
  baytree_app/views_api/urls.py
Due: build server

Display error message
  frontend/src/Components/questionnaire/InvalidQuestionnaire.tsx
  frontend/src/Components/questionnaire/MenteesNameInput.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/hooks/useMentees.ts
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

Fix imports
  frontend/src/hooks/useProfile.ts
Due: build frontend

Fetch the questionnaire by requesting user id
  baytree_app/questionnaires/views.py
Due: build server

Use new endpoint to fetch questionnaire
  baytree_app/questionnaires/views.py
  frontend/src/api/misc.ts
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend, build server

Implement questionnaire submission
  baytree_app/questionnaires/views.py
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/api/misc.ts
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend, build server

Remove custom modal in favour of MUI Dialog
  frontend/src/App.tsx
  frontend/src/Components/CreateAccount.tsx
  frontend/src/Components/shared/CreateAccountModal.tsx
  frontend/src/Components/shared/Modal.tsx
Due: build frontend

Revert changes for login.tsx
  frontend/src/Components/Login.tsx
Due: build frontend

Revert changes to AuthContext
  frontend/src/context/AuthContext.tsx
Due: build frontend

Fix pipeline breaks
  baytree_app/users/migrations/0031_merge_20220604_1509.py
  frontend/package-lock.json
Due: build frontend, build server

Change the props of mentee name input
  frontend/src/Components/questionnaire/MenteesNameInput.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Add validation error
  frontend/src/Components/questionnaire/MenteesNameInput.tsx
  frontend/src/Components/questionnaire/TextInput.tsx
Due: build frontend

Change the mergin of the form
  frontend/src/Components/questionnaire/ChoiceInput.tsx
  frontend/src/Components/questionnaire/MentorNameQuestion.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Change name of useMentor hook
  frontend/src/Components/Profile.tsx
  frontend/src/hooks/useMentor.ts
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

Better filtering methods
  baytree_app/questionnaires/views.py
Due: build server

Remove viewsPersonId from POST request data
  baytree_app/questionnaires/views.py
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/api/misc.ts
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend, build server

Fix favicon error
  frontend/index.html
Due: build frontend

Add react datetime
  admin-frontend/package-lock.json
  admin-frontend/package.json
Due: build admin-frontend

Add backend delete and put functions
  admin-frontend/api/backend/base.ts
Due: build admin-frontend

Create backend api callbacks for use with holidays
  admin-frontend/api/backend/holidays.ts
Due: build admin-frontend

Set type parameter to type onSaveDataRowsFunc
  admin-frontend/components/shared/datagrid/datagridTypes.tsx
Due: build admin-frontend

Add holidays URL to side bar links
  admin-frontend/components/shared/Navbar/sidebarLinks.tsx
Due: build admin-frontend

Create holidays page using datagrid
  admin-frontend/pages/holidays.tsx
Due: build admin-frontend

Add note field to holiday model
  baytree_app/holidays/models.py
Due: build server

Add note field to holiday serializer
  baytree_app/holidays/serializers.py
Due: build server

Add migration change for addition of note field in holiday model
  baytree_app/holidays/migrations/0003_holiday_note.py
Due: build server

Add boolean and date datagrid columns
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridRowLogic.tsx
  admin-frontend/components/shared/datagrid/datagridTypes.tsx
  admin-frontend/package-lock.json
  admin-frontend/package.json
  admin-frontend/pages/mentorRoles.tsx
  admin-frontend/util/misc.ts
Due: build admin-frontend

Add hover tooltips for ux improvement
  admin-frontend/components/shared/datagrid/datagridAddRow.tsx
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/pager.tsx
Due: build admin-frontend

Fix issues with datagrid
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridAddRow.tsx
  admin-frontend/components/shared/datagrid/datagridBody.tsx
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/pager.tsx
Due: build admin-frontend

Add isRequired validation to datagrid
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridTypes.tsx
  admin-frontend/components/shared/datagrid/hooks/useData.tsx
  admin-frontend/components/shared/datagrid/hooks/useDataLogic.tsx
Due: build admin-frontend

Add generics to datagrid types
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridBody.tsx
  admin-frontend/components/shared/datagrid/datagridTypes.tsx
  admin-frontend/components/shared/datagrid/hooks/useData.tsx
  admin-frontend/components/shared/datagrid/hooks/useDataLogic.tsx
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Remove testing columns
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Remove testing cols from datarows
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Fix layout and datagrid errors
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridDeleteCell.tsx
  admin-frontend/components/shared/datagrid/datagridHeaderRow.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Remove example bool column again
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Fix edgecase for empty disabled col
  admin-frontend/components/shared/datagrid/hooks/useDataLogic.tsx
Due: build admin-frontend

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml
