Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml

Extract logic from the session dialog
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/api/records.ts
  frontend/src/hooks/useSessionDetail.tsx
Due: build frontend

Preserve previous state
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/Components/records/Records.tsx
  frontend/src/hooks/useSessionDetail.tsx
Due: build frontend

Fix reloading
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/Components/records/Records.tsx
  frontend/src/hooks/useSessionDetail.tsx
Due: build frontend

Create new API endpoints for admin preferences
  baytree_app/baytree_app/settings.py
  baytree_app/baytree_app/urls.py
  baytree_app/preferences/__init__.py
  baytree_app/preferences/apps.py
  baytree_app/preferences/fixtures/defaultPreferences.json
  baytree_app/preferences/migrations/0001_initial.py
  baytree_app/preferences/migrations/__init__.py
  baytree_app/preferences/models.py
  baytree_app/preferences/serializers.py
  baytree_app/preferences/urls.py
  baytree_app/preferences/views.py
Due: build server

Get active mentees
  baytree_app/preferences/fixtures/defaultPreferences.json
  baytree_app/views_api/associations.py
Due: build server

FIx bugs
  baytree_app/views_api/associations.py
Due: build server

Fix bug when verifying account creation link
  baytree_app/users/views.py
Due: build server

Fix successful account creation frontend bug
  frontend/src/Components/forms/CreateAccount.tsx
Due: build frontend

Fix session group api pagination bug
  baytree_app/views_api/session_groups.py
Due: build server

Add missing dependency
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Reaarange project structures
  frontend/src/layouts/Dashboard.tsx
  frontend/src/layouts/PrivateRoute.tsx
  frontend/src/layouts/PublicLayout.tsx
  frontend/src/layouts/PublicRoute.tsx
  frontend/src/pages/CreateAccount.tsx
  frontend/src/pages/Goals.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Notification.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/pages/Questionnaire.tsx
  frontend/src/pages/Records.tsx
  frontend/src/pages/ResetPassword.tsx
  frontend/src/pages/ResetPasswordRequest.tsx
  frontend/src/pages/Sessions.tsx
Due: build frontend

Switch questionnaire endpoint to use json vs xml
  baytree_app/views_api/questionnaires.py
Due: build server

Add search by title to session groups
  baytree_app/views_api/session_groups.py
Due: build server

Change title to name for consistency with response
  baytree_app/views_api/session_groups.py
Due: build server

Fix typos
  admin-frontend/components/pages/goals/GoalQuerying.tsx
  admin-frontend/pages/goals.tsx
Due: build admin-frontend

Update documentaion
  baytree_app/records/views.py
Due: build server

Fix typos
  frontend/src/Components/goals/GoalQuerying.tsx
Due: build frontend

Fix dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/sessions/Sessions.tsx
Due: build frontend

Add searching, pagination, id searching to questionnaires
  baytree_app/views_api/questionnaires.py
Due: build server

Optimize the icon dependency
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Notification.tsx
  frontend/src/Components/Profile.tsx
  frontend/src/Components/dashboard/Messages.tsx
  frontend/src/Components/dashboard/MobileMenu.tsx
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/dashboard/SideMenu.tsx
  frontend/src/Components/goals/GoalExportButton.tsx
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/GoalQuerying.tsx
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Components/records/Records.tsx
  frontend/src/Components/shared/PasswordValidation.tsx
Due: build frontend

Add not found to id questionnaire and session group endpoints
  baytree_app/views_api/questionnaires.py
  baytree_app/views_api/session_groups.py
Due: build server

Fix imports
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/layouts/PublicLayout.tsx
  frontend/src/layouts/index.ts
  frontend/src/pages/Notifications.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/pages/ResetPassword.tsx
  frontend/src/pages/index.ts
Due: build frontend

First component test
  frontend/cypress.config.ts
  frontend/cypress/components/Login.cy.tsx
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/component-index.html
  frontend/cypress/support/component.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: build frontend

First E2E test
  frontend/cypress.config.ts
  frontend/cypress/components/Login.cy.tsx
  frontend/cypress/e2e/navigation.cy.ts
  frontend/cypress/support/e2e.ts
Due: build frontend

Disabled video recording
  frontend/cypress.config.ts
Due: build frontend

Integrate component test
  .gitlab-ci.yml
  frontend/package.json
Due: build frontend, build admin-frontend, build server

Test before build
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

Change the image
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

Integrate E2E tests
  .gitlab-ci.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: build frontend, build admin-frontend, build server

Add questionnaires api methods in admin frontend
  admin-frontend/api/backend/views/questionnaires.ts
Due: build admin-frontend

Add session groups api methods to admin frontend
  admin-frontend/api/backend/views/sessionGroups.ts
Due: build admin-frontend

Fix total records bug and add record return limits on endpoints
  admin-frontend/api/backend/views/questionnaires.ts
  admin-frontend/api/backend/views/sessionGroups.ts
  baytree_app/views_api/questionnaires.py
  baytree_app/views_api/session_groups.py
Due: build admin-frontend, build server

Fix endpoint url issues, pagination, and type casting parameters to integers
  admin-frontend/api/backend/views/sessionGroups.ts
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/sessionStatsCard.tsx
  baytree_app/views_api/questionnaires.py
  baytree_app/views_api/session_groups.py
Due: build admin-frontend, build server

Add searching to session group select box for session statistics
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
Due: build admin-frontend

Mock service worker
  frontend/cypress/components/pages/Goals.cy.tsx
  frontend/cypress/components/pages/Login.cy.tsx
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/component.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/api/goals.ts
  frontend/src/mocks/api/goals.ts
  frontend/src/mocks/data/goals.ts
  frontend/src/mocks/data/people.ts
  frontend/src/mocks/worker.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: build frontend

Fix session group parsing error with json and refactor code
  baytree_app/views_api/questionnaires.py
  baytree_app/views_api/session_groups.py
  baytree_app/views_api/util.py
Due: build server

Add new tests
  frontend/cypress/components/forms/Login.cy.tsx
  frontend/cypress/components/goals/GoalListItem.cy.tsx
  frontend/cypress/components/goals/GoalStatistics.cy.tsx
  frontend/cypress/components/pages/Goals.cy.tsx
  frontend/cypress/support/commands.ts
  frontend/cypress/support/component.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/GoalsStatistics.tsx
  frontend/src/mocks/api/goals.ts
  frontend/src/mocks/worker.ts
  frontend/src/pages/Goals.tsx
  frontend/tsconfig.json
Due: build frontend

Update admin frontend dependencies
  admin-frontend/package-lock.json
  admin-frontend/package.json
Due: build admin-frontend

Update imports to adhere to mui package dependency updates
  admin-frontend/components/shared/datagrid/datagridDateComponent.tsx
Due: build admin-frontend

Fix incorrect optional types in api methods
  admin-frontend/api/backend/views/questionnaires.ts
  admin-frontend/api/backend/views/sessionGroups.ts
Due: build admin-frontend
