Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  DEV_BRANCH: "master"
  STG_BRANCH: "staging"

build frontend:
  stage: build
  image: node:16
  tags:
    - docker
  rules:
    - if: "$CI_MERGE_REQUEST_ID != null"
      changes:
        - frontend/**/*
        - .gitlab-ci.yml
      when: always
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $STG_BRANCH"
      when: always
  before_script:
    - cd frontend
    - npm ci
  script:
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
      - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
    - docker
  rules:
    - if: "$CI_MERGE_REQUEST_ID != null"
      changes:
        - admin-frontend/**/*
        - .gitlab-ci.yml
      when: always
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $STG_BRANCH"
      when: always
  before_script:
    - cd admin-frontend
    - npm ci
  script:
    - GENERATE_SOURCEMAP=false npm run export
  after_script:
    - ls -l admin-frontend
    - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
      - admin_frontend_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: mariadb:5.5
      alias: test_mysql
  tags:
    - docker
  needs: []
  rules:
    - if: "$CI_MERGE_REQUEST_ID != null"
      changes:
        - baytree_app/**/*
        - .gitlab-ci.yml
      when: always
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $STG_BRANCH"
      when: always
  variables:
    DOMAIN: "example.com"
    SECRET_KEY: "test"
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ""
    EMAIL_PORT: ""
    EMAIL_USER: ""
    EMAIL_PASSWORD: ""
    VIEWS_USERNAME: ""
    VIEWS_PASSWORD: ""
  before_script:
    - cd baytree_app
  script:
    - pip install -r requirements.txt
    - python manage.py check
    - python manage.py makemigrations --check

.deploy-script: &deploy-script
  - cp /var/baytree/.env ./.env
  - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
  - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
  - docker image prune -f # remove unused images since we just built new ones
  - bash -c 'sleep 15'
  - docker exec baytree_server python manage.py migrate

deploy development:
  stage: deploy
  environment:
    name: development
    url: https://baytree-dev.cmpt.sfu.ca
  tags:
    - deploy-development
  rules:
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH"
      when: on_success
  script:
    - *deploy-script

deploy staging:
  stage: deploy
  environment:
    name: staging
    url: https://baytree-stg.cmpt.sfu.ca
  tags:
    - deploy-staging
  rules:
    - if: "$CI_COMMIT_BRANCH == $STG_BRANCH"
      when: on_success
  script:
    - *deploy-script

implements exporting Goals page as CSV file
  frontend/src/Components/Goals.tsx
Due: build frontend

Create reset account password endpoint
  baytree_app/users/urls.py
  baytree_app/users/views.py
Due: build server

Create reset password page and refactor
  frontend/src/Components/CreateAccount.tsx
  frontend/src/Components/ResetPassword.tsx
  frontend/src/Utils/password.tsx
  frontend/src/api/mentorAccount.ts
Due: build frontend

No longer require first name to reset pass
  baytree_app/emails/templates/mentorResetPassword.html
  baytree_app/emails/templates/mentorResetPassword.mjml
  baytree_app/users/views.py
Due: build server

Do not verify auth on reset password page
  frontend/src/App.tsx
Due: build frontend

Add page loading spinners when calling backend
  frontend/src/Components/CreateAccount.tsx
  frontend/src/Components/ResetPassword.tsx
  frontend/src/Components/shared/overlaySpinner.tsx
  frontend/src/constants/constants.ts
Due: build frontend

Remove django pass reset and forgot pass for adming portal (for now)
  admin-frontend/pages/index.tsx
  baytree_app/baytree_app/urls.py
Due: build admin-frontend, build server

Fix pipeline production build lint fail
  frontend/src/Components/ResetPassword.tsx
Due: build frontend

Add max pass len of 30 chars and server-side validation
  baytree_app/users/views.py
  frontend/src/Components/CreateAccount.tsx
  frontend/src/Components/ResetPassword.tsx
  frontend/src/Utils/password.tsx
Due: build frontend, build server

Changed function name and clear the html after creating CSV
  frontend/src/Components/Goals.tsx
Due: build frontend

Add search by email to views endpoint
  baytree_app/views_api/volunteers.py
Due: build server

Add search filter and fix backend endpoint
  admin-frontend/components/pages/mentors/addMentorModal.tsx
  admin-frontend/pages/mentors.tsx
  baytree_app/views_api/volunteers.py
Due: build admin-frontend, build server

Make shared components more mobile friendly, add email column template
  admin-frontend/components/pages/mentors/addMentorModal.tsx
  admin-frontend/components/shared/Modal.tsx
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/components/shared/pager.tsx
  admin-frontend/pages/mentors.tsx
Due: build admin-frontend

Update shared datagrid to be more mobile friendly
  admin-frontend/components/shared/datagrid.tsx
Due: build admin-frontend

Decouple getting page data and setting page num UI to fix bug
  admin-frontend/components/pages/mentors/addMentorModal.tsx
Due: build admin-frontend

Fix issue with no initial load of data
  admin-frontend/components/pages/mentors/addMentorModal.tsx
Due: build admin-frontend

Fix multiple react toast bugs, make sure modal doesn't close when clicking toast
  admin-frontend/components/pages/home/sessionStatsCard.tsx
  admin-frontend/components/pages/mentors/addMentorModal.tsx
  admin-frontend/components/shared/Modal.tsx
  admin-frontend/components/shared/pager.tsx
  admin-frontend/pages/_app.tsx
  admin-frontend/pages/mentors.tsx
  frontend/src/App.tsx
  frontend/src/Components/CreateAccount.tsx
Due: build frontend, build admin-frontend

Change Pager input max width
  admin-frontend/components/shared/pager.tsx
Due: build admin-frontend

Remove the passing of a deleted prop for modal
  admin-frontend/components/shared/Navbar/sidebar.tsx
Due: build admin-frontend

Add opt-in close button to Modal shared component
  admin-frontend/components/shared/Modal.tsx
  admin-frontend/pages/mentors.tsx
Due: build admin-frontend

Allow opt-out modal close button, and add topbaraction property
  admin-frontend/components/shared/Modal.tsx
  admin-frontend/components/shared/Navbar/sidebar.tsx
  admin-frontend/components/shared/Navbar/topbar.tsx
  admin-frontend/components/shared/Navbar/topbarActions.tsx
  admin-frontend/pages/mentors.tsx
Due: build admin-frontend

Add StartDate range parameters to sessions views endpoint
  baytree_app/views_api/sessions.py
Due: build server

Create tracking cards and update layouts
  admin-frontend/components/pages/home/MentorQuestionnaireTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/menteeDemographicsCard.tsx
  admin-frontend/components/pages/home/mentorDemographicsCard.tsx
  admin-frontend/components/pages/home/sessionStatsCard.tsx
  admin-frontend/pages/home.tsx
Due: build admin-frontend

Grab data from backend for sessions, volunteers, and mock expected sessions
  admin-frontend/api/backend/views/sessions.ts
  admin-frontend/components/pages/home/MentorSessionTrackingCard.tsx
  admin-frontend/pages/home.tsx
Due: build admin-frontend

Get initial chart displaying mentors and session counts with legend
  admin-frontend/components/pages/home/MentorSessionTrackingCard.tsx
Due: build admin-frontend

fixing the space between lines of code
  baytree_app/records/permissions.py
  baytree_app/resources/permissions.py
  baytree_app/resources/views.py
  frontend/src/Components/Navigation.tsx
Due: build frontend, build server

Change session tracking to table and refactor
  admin-frontend/components/pages/home/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  admin-frontend/components/pages/mentors/addMentorModal.tsx
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/components/shared/pager.tsx
  baytree_app/views_api/sessions.py
Due: build admin-frontend, build server

Refactor modal shared component, add year, fix mobile component layouts
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  admin-frontend/components/pages/home/menteeDemographicsCard.tsx
  admin-frontend/components/pages/home/mentorDemographicsCard.tsx
  admin-frontend/components/pages/mentors/addMentorModal.tsx
  admin-frontend/components/shared/Modal.tsx
  admin-frontend/components/shared/Navbar/logoutModal.tsx
  admin-frontend/components/shared/Navbar/navbar.tsx
  admin-frontend/components/shared/Navbar/sidebar.tsx
  admin-frontend/components/shared/Navbar/sidebarLinks.tsx
  admin-frontend/components/shared/Navbar/topbar.tsx
  admin-frontend/components/shared/Navbar/topbarActions.tsx
  admin-frontend/components/shared/pager.tsx
  admin-frontend/pages/home.tsx
  admin-frontend/pages/mentors.tsx
Due: build admin-frontend

Add Click on mentor name for more sessions info and Fix body scrolling issues
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionsModal.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  admin-frontend/components/shared/Modal.tsx
Due: build admin-frontend

Add settings button and improve layout of card
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionsModal.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SettingsModal.tsx
Due: build admin-frontend

Fix initial load behaviour
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
Due: build admin-frontend

Get monthly expected sessions model and CRUD endpoints
  baytree_app/sessions/migrations/0005_monthlyexpectedsessioncounts.py
  baytree_app/sessions/models.py
  baytree_app/sessions/urls.py
Due: build server

Create admin-frontend api funcs for monthly expected session counts
  admin-frontend/api/backend/monthlyExpectedSessionCounts.ts
Due: build admin-frontend

Add serializer for monthly counts and fix state update rerender issue
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  baytree_app/sessions/serializers.py
  baytree_app/sessions/urls.py
Due: build admin-frontend, build server

Implement settings modal and saving, fix onoutside click bugs
  admin-frontend/api/backend/monthlyExpectedSessionCounts.ts
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionsModal.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SettingsModal.tsx
  admin-frontend/components/shared/Modal.tsx
  admin-frontend/util/misc.ts
  baytree_app/baytree_app/views.py
Due: build admin-frontend, build server

Finish saving functionality for month counts
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SettingsModal.tsx
  admin-frontend/components/shared/Modal.tsx
  admin-frontend/util/misc.ts
Due: build admin-frontend

adding the sessions from viewsapp to the calender
  frontend/src/Components/Scheduler.tsx
  frontend/src/Components/Sessions.tsx
Due: build frontend

deleting the session database since its no longer needed
  baytree_app/notifications/tasks/missing_questionnaires.py
  baytree_app/notifications/tasks/monthly_questionnaire_reminder.py
  baytree_app/notifications/tasks/tasks.py
  baytree_app/sessions/admin.py
  baytree_app/sessions/migrations/0005_delete_mentorsession.py
  baytree_app/sessions/models.py
  baytree_app/sessions/serializers.py
  baytree_app/sessions/urls.py
  baytree_app/sessions/views.py
  baytree_app/users/views.py
  frontend/src/Components/Sessions.tsx
Due: build frontend, build server

adding statistics for mentor account
  baytree_app/records/admin.py
  baytree_app/users/constants.py
  baytree_app/users/views.py
Due: build server

adding statistics for mentee account
  baytree_app/users/constants.py
  baytree_app/users/views.py
Due: build server
