Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml

disable add button until current row is filled
  admin-frontend/components/shared/datagrid/datagridBody.tsx
Due: build admin-frontend

feat: created management command to create views mock db
  README.md
  docker-compose.yml
  views_mock/views_api/management/commands/__init__.py
  views_mock/views_api/management/commands/createdb.py
  views_mock/views_mock/settings.py
Due: none

improve formatting and remove unused imports
  baytree_app/baytree_app/views.py
Due: build server

add logging
  baytree_app/baytree_app/views.py
Due: build server

improve formatting and remove unused imports
  baytree_app/goals/views.py
Due: build server

add logging
  baytree_app/goals/views.py
Due: build server

improve formatting
  baytree_app/questionnaires/views.py
Due: build server

add logging
  baytree_app/questionnaires/views.py
Due: build server

setup unit tests
  baytree_app/testing/FluentLoggerTests.py
Due: build server

Fix linting errors including adding missing key prop to map iterator
  frontend/src/pages/Profile.tsx
Due: build frontend

Fix linting errors in Messages.tsx including adding types to button events
  frontend/src/Components/dashboard/Messages.tsx
Due: build frontend

add python path to docker file and add test cases for elementary log methods
  baytree_app/Dockerfile
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

Fix linting errors in ResetPassword.tsx
  frontend/src/pages/ResetPassword.tsx
Due: build frontend

Fix linting errors in custom hooks
  frontend/src/hooks/useQuestionnaire.ts
  frontend/src/hooks/useSessionEvents.ts
  frontend/src/hooks/useSpecialEvents.ts
Due: build frontend

Run createdb before running views mock server
  docker-compose.override.yml
  views_mock/views_api/management/commands/createdb.py
Due: none

feat: loading session data
  docker-compose.override.yml
  views_mock/views_api/management/commands/createdb.py
  views_mock/views_mock/settings.py
  views_mock/views_sessions/fixtures/sessions.json
  views_mock/views_sessions/migrations/0001_initial.py
  views_mock/views_sessions/migrations/0002_session_venue_name_alter_session_venue_id.py
  views_mock/views_sessions/models.py
  views_mock/views_sessions/urls.py
  views_mock/views_sessions/views.py
Due: none

add tests for logRequest and logResponse methods
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

move setup code into class method
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

remove uneccessary logs
  baytree_app/baytree_app/views.py
Due: build server

create new logAction method
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

add logs for CRUD operations and update logAction method
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/views.py
Due: build server

add logging for various authentication states
  baytree_app/baytree_app/views.py
Due: build server

remove uneccessary logs
  baytree_app/goals/views.py
Due: build server

Update FluentLoggingHandler
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

add logs for various actions and events
  baytree_app/goals/views.py
Due: build server

remove uneccessary logs
  baytree_app/questionnaires/views.py
Due: build server

add logAction method to FluentLoggingHandler
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

add logging for various actions and events
  baytree_app/questionnaires/views.py
Due: build server

Apply eslint fix to frontend files
  frontend/src/api/goals.ts
Due: build frontend

Fix linting issues including adding props validation
  frontend/src/Components/sessions/Containers.tsx
Due: build frontend

Fix linting errors including handling empty mentees case
  frontend/src/hooks/useMentees.ts
  frontend/src/pages/Questionnaire.tsx
Due: build frontend

Fix linting errors in CreateAccount.tsx in frontend
  frontend/src/pages/CreateAccount.tsx
Due: build frontend

feat: mockin single session
  views_mock/requirements.txt
  views_mock/views_mock/urls.py
  views_mock/views_sessions/urls.py
  views_mock/views_sessions/views.py
Due: none

Revert "Merge branch 'mock-views-sessions' into 'master'"
  docker-compose.override.yml
  docker-compose.yml
  views_mock/requirements.txt
  views_mock/views_api/__init__.py
  views_mock/views_api/admin.py
  views_mock/views_api/apps.py
  views_mock/views_api/management/commands/createdb.py
  views_mock/views_api/migrations/__init__.py
  views_mock/views_api/urls.py
  views_mock/views_api/views.py
  views_mock/views_mock/settings.py
  views_mock/views_mock/urls.py
  views_mock/views_sessions/apps.py
  views_mock/views_sessions/fixtures/sessions.json
  views_mock/views_sessions/migrations/0001_initial.py
  views_mock/views_sessions/migrations/__init__.py
  views_mock/views_sessions/models.py
  views_mock/views_sessions/tests.py
  views_mock/views_sessions/urls.py
  views_mock/views_sessions/views.py
  views_mock/volunteering_types/__init__.py
  views_mock/volunteering_types/admin.py
  views_mock/volunteering_types/migrations/0001_initial.py
  views_mock/volunteering_types/migrations/0002_volunteeringtype_type.py
  views_mock/volunteering_types/migrations/0003_alter_volunteeringtype_table.py
  views_mock/volunteering_types/migrations/0004_alter_volunteeringtype_table.py
  views_mock/volunteering_types/migrations/__init__.py
  views_mock/volunteering_types/models.py
  views_mock/volunteering_types/tests.py
Due: none

Added db router
  views_mock/views_mock/dbRouter.py
  views_mock/views_mock/settings.py
Due: none

Added json header instead of json extension
  baytree_app/questionnaires/views.py
  baytree_app/views_api/participants.py
Due: build server

Edited log info to be more useful for requests
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

Added lua script to remove password
  docker-compose.yml
  fluent-bit/filters/password-filter.conf
  fluent-bit/fluent-bit-dev.conf
  fluent-bit/fluent-bit-local.conf
  fluent-bit/fluent-bit-prod.conf
  fluent-bit/fluent-bit-stag.conf
  fluent-bit/scripts/record-modify-script.lua
Due: none
