Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

build frontend:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - cd frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
  - docker
  before_script:
  - cd admin-frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run export
  after_script:
  - ls -l admin-frontend
  - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: mariadb:5.5
    alias: test_mysql
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ''
  ...

Add uk_holidays endpoint class to retrieve all uk holiday objects
  baytree_app/calendar_events/views.py
Due: build server

Make migrations to create the UkHoliday model
  baytree_app/calendar_events/migrations/0005_ukholiday.py
Due: build server

Create api call to fetch uk holidays as well as ukHoliday interface
  frontend/src/api/misc.ts
Due: build frontend

Create hook to use UkHoldays as well as method to map UkHoliday to EventInput
  frontend/src/hooks/useUkHolidays.ts
Due: build frontend

Correct spelling of calendar
  frontend/src/hooks/useSpecialEvents.ts
Due: build frontend

Update scheduler to include UK holiday events
  frontend/src/Components/home/Scheduler.tsx
Due: build frontend

Add comments to useEffect function
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
Due: build admin-frontend

Create sidebar link for admin preferences
  admin-frontend/components/shared/Navbar/sidebarLinks.tsx
Due: build admin-frontend

Create preference page
  admin-frontend/pages/preferences.tsx
Due: build admin-frontend

Create use preferences hook for preference page
  admin-frontend/hooks/usePreferences.tsx
Due: build admin-frontend

Load defaultPreferences.json on deployment
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

Update scripts to seed data as well
  scripts/setup_production.sh
  scripts/update.sh
Due: none

Remove logging.d.ts file in favour of a general package declarations file
  admin-frontend/logging.d.ts
  admin-frontend/packageDeclarations.d.ts
Due: build admin-frontend

Upgade necessary packages for branch including formik and react-toastify
  admin-frontend/package-lock.json
  admin-frontend/package.json
Due: build admin-frontend

Create preferences API to communicate with backend
  admin-frontend/api/backend/perferences.ts
Due: build admin-frontend

Update hook to handle preference update submission
  admin-frontend/hooks/usePreferences.tsx
Due: build admin-frontend

Finalize form control and UI
  admin-frontend/pages/preferences.tsx
Due: build admin-frontend

Finish on form submit logic
  admin-frontend/pages/preferences.tsx
Due: build admin-frontend

Remove unnecessary code in Preference model class and rename attribute for consistency
  baytree_app/preferences/models.py
Due: build server

Make migration to update 'json_value' attribute to 'value' for consistency
  baytree_app/preferences/migrations/0002_rename_json_value_preference_value.py
Due: build server

Remove unnecessary code
  baytree_app/preferences/serializers.py
Due: build server

Update admin-frontend packages
  admin-frontend/package-lock.json
  admin-frontend/package.json
Due: build admin-frontend

Remove unnecessary package
  admin-frontend/package-lock.json
  admin-frontend/package.json
Due: build admin-frontend

Rollback recharts package
  admin-frontend/package-lock.json
  admin-frontend/package.json
Due: build admin-frontend

Reset to vite config from commit #dd92fcc9
  frontend/vite.config.ts
Due: build frontend

Update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Add baseUrl compiler option
  admin-frontend/tsconfig.json
Due: build admin-frontend

Change defaultPreferences field value for failed deploy development in pipeline from commit #ed511c83
  baytree_app/preferences/fixtures/defaultPreferences.json
Due: build server

Update admin-frontend package-lock
  admin-frontend/package-lock.json
Due: build admin-frontend

Update goal provider to work with GoalStatistics.cy.tsx and GoalListItem.cy.tsx
  frontend/src/context/GoalContext.tsx
Due: build frontend

Update component props to fix, property 'children' does not exist on type 'IntrinsicAttributes' error
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/sessions/Containers.tsx
  frontend/src/Components/shared/TitledContainer.tsx
  frontend/src/context/AuthContext.tsx
Due: build frontend

Set mount to utilize cypress/react18
  frontend/cypress/support/component.tsx
Due: build frontend

Update cypress package
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Add baseUrl attribute to config and remove ./ from paths
  frontend/tsconfig.json
Due: build frontend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

Strong types
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/dashboard/SideMenu.tsx
  frontend/src/Components/questionnaire/MenteesNameInput.tsx
  frontend/src/Components/sessions/Containers.tsx
  frontend/src/Components/sessions/session.ts
  frontend/src/Components/shared/TitledContainer.tsx
  frontend/src/api/auth.ts
  frontend/src/api/goals.ts
  frontend/src/api/mentorAccount.ts
  frontend/src/api/misc.ts
  frontend/src/api/records.ts
  frontend/src/api/views.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/GoalContext.tsx
Due: build frontend

Update to React 18 syntax
  frontend/src/index.tsx
Due: build frontend

Prettier
  frontend/src/Utils/locale.ts
  frontend/src/Utils/sessionDate.ts
  frontend/src/api/auth.ts
  frontend/src/api/goals.ts
  frontend/src/api/logging.ts
  frontend/src/api/mentorAccount.ts
  frontend/src/api/misc.ts
  frontend/src/api/records.ts
  frontend/src/api/views.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/GoalContext.tsx
  frontend/src/hooks/useEventDetailPopup.ts
  frontend/src/hooks/useGoalCategories.ts
  frontend/src/hooks/useGoalStatistics.ts
  frontend/src/hooks/useGoals.ts
  frontend/src/hooks/useQuestionnaire.ts
  frontend/src/hooks/useRecords.ts
  frontend/src/hooks/useRefreshToken.ts
  frontend/src/hooks/useSessionDetail.ts
  frontend/src/hooks/useSessionEvents.ts
  frontend/src/hooks/useSpecialEvents.ts
  frontend/src/hooks/useUkHolidays.ts
  frontend/src/layouts/Dashboard.tsx
  frontend/src/layouts/PrivateRoute.tsx
  frontend/src/layouts/PublicLayout.tsx
  frontend/src/layouts/index.ts
  frontend/src/mocks/worker.ts
  frontend/src/pages/CreateAccount.tsx
  frontend/src/pages/Goals.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Notifications.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/pages/Questionnaire.tsx
  frontend/src/pages/Records.tsx
  frontend/src/pages/ResetPassword.tsx
  frontend/src/pages/ResetPasswordRequest.tsx
  frontend/src/pages/Sessions.tsx
Due: build frontend

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml
