Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

build frontend:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - cd frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
  - docker
  before_script:
  - cd admin-frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run export
  after_script:
  - ls -l admin-frontend
  - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: mariadb:5.5
    alias: test_mysql
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ''
  ...

Fix volunteers and participants endpoints
  baytree_app/views_api/participants.py
  baytree_app/views_api/volunteers.py
Due: build server

Add comments for list wrapping clarification
  baytree_app/views_api/participants.py
  baytree_app/views_api/volunteers.py
Due: build server

Send mentor account creation emails
  baytree_app/baytree_app/settings.py
  baytree_app/email/templates/mentorAccountCreation.html
  baytree_app/emails/__init__.py
  baytree_app/emails/apps.py
  baytree_app/emails/constants.py
  baytree_app/emails/email.py
  baytree_app/emails/migrations/__init__.py
  baytree_app/emails/templates/mentorAccountCreation.html
  baytree_app/emails/templates/mentorAccountCreation.mjml
  baytree_app/emails/tests.py
  baytree_app/emails/views.py
  baytree_app/users/migrations/0021_auto_20220319_1927.py
  baytree_app/users/models.py
  baytree_app/users/views.py
  baytree_app/views_api/__init__.py
Due: build server

Successfully send mentor account creation email
  admin-frontend/public/images/baytree-logo.png
  baytree_app/baytree_app/settings.py
  baytree_app/emails/templates/mentorAccountCreation.html
  baytree_app/emails/templates/mentorAccountCreation.mjml
  baytree_app/requirements.txt
  baytree_app/users/migrations/0019_accountcreationlink.py
  baytree_app/users/migrations/0020_auto_20220318_2052.py
  baytree_app/users/migrations/0021_auto_20220319_1927.py
  baytree_app/users/models.py
  baytree_app/users/views.py
Due: build admin-frontend, build server

fixing the bug in the record page for when user has zero sessions
  baytree_app/records/views.py
Due: build server

Build create account page UI
  frontend/src/App.tsx
  frontend/src/Components/CreateAccount.tsx
  frontend/src/constants/constants.ts
Due: build frontend

adding mentorID and fixing formate for time
  baytree_app/sessions/views.py
  frontend/src/Components/Sessions.tsx
Due: build frontend, build server

Finish mentor account creation page and create endpoints
  baytree_app/users/urls.py
  baytree_app/users/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/CreateAccount.tsx
  frontend/src/api/mentorAccount.ts
Due: build frontend, build server

Fix bugs and finish creation process
  admin-frontend/api/backend/mentorUsers.ts
  admin-frontend/components/pages/mentors/addMentorModal.tsx
  baytree_app/users/migrations/0020_rename_date_accountcreationlink_link_expiry_date.py
  baytree_app/users/models.py
  baytree_app/users/views.py
  frontend/src/App.tsx
  frontend/src/Components/CreateAccount.tsx
Due: build frontend, build admin-frontend, build server

Enforce strong passwords and only verify on authenticated routes
  frontend/src/App.tsx
  frontend/src/Components/CreateAccount.tsx
Due: build frontend

Remove authentication and permissions for creatementoraccount endpoint
  baytree_app/users/views.py
  frontend/src/Components/CreateAccount.tsx
Due: build frontend, build server

Correct build warnings for frontend
  frontend/src/Components/CreateAccount.tsx
Due: build frontend

Add link expiry, and link resending
  baytree_app/users/views.py
  frontend/src/Components/CreateAccount.tsx
Due: build frontend, build server

Fix frontend build warnings
  frontend/src/Components/CreateAccount.tsx
Due: build frontend

Add comment clarifying the use of MJML
  baytree_app/emails/email.py
Due: build server

Fix comment
  baytree_app/emails/email.py
Due: build server

Fix issue with horizontal scroll for page
  frontend/src/Components/CreateAccount.tsx
Due: build frontend

Add padding below button
  frontend/src/Components/CreateAccount.tsx
Due: build frontend

Add new notification type and implement unread feature
  baytree_app/notifications/constants.py
  baytree_app/notifications/migrations/0004_auto_20220321_0022.py
  baytree_app/notifications/tasks/missing_questionnaires.py
  baytree_app/notifications/tasks/monthly_questionnaire_reminder.py
  baytree_app/notifications/tasks/tasks.py
  baytree_app/notifications/urls.py
  baytree_app/notifications/views.py
  frontend/src/Components/Navigation.tsx
  frontend/src/Components/Notification.tsx
Due: build frontend, build server

Make API name more clear
  baytree_app/notifications/urls.py
  baytree_app/notifications/views.py
  frontend/src/Components/Navigation.tsx
Due: build frontend, build server

remove react warnings
  frontend/src/Components/Navigation.tsx
  frontend/src/Components/Notification.tsx
Due: build frontend

Improvements for questionnaire submission
  baytree_app/questions_and_answers/views.py
  frontend/src/Components/Questionnaire.tsx
Due: build frontend, build server

add validations for enabled/required
  baytree_app/questions_and_answers/views.py
  frontend/src/Components/Questionnaire.tsx
Due: build frontend, build server

Addressing customer feedback on goals page
  baytree_app/goals/migrations/0006_goal_last_update_date.py
  baytree_app/goals/models.py
  baytree_app/goals/serializers.py
  baytree_app/goals/views.py
  frontend/src/Components/CreateGoals.tsx
  frontend/src/Components/Goals.tsx
Due: build frontend, build server

fixed cancelled session, date formate and mentee list
  baytree_app/sessions/views.py
  frontend/src/Components/Sessions.tsx
Due: build frontend, build server

Address merge request comments
  baytree_app/notifications/permissions.py
  baytree_app/notifications/urls.py
  baytree_app/notifications/views.py
  frontend/src/Components/Navigation.tsx
  frontend/src/Components/Notification.tsx
Due: build frontend, build server

cleaning to be merged
  baytree_app/sessions/views.py
  frontend/src/Components/Sessions.tsx
Due: build frontend, build server

pipe failed fix
  frontend/src/Components/Sessions.tsx
Due: build frontend

changing url with VIEWS_BASE_URL
  baytree_app/questions_and_answers/views.py
Due: build server

apply the changes for merge review and added noel's code
  baytree_app/records/views.py
  baytree_app/sessions/permissions.py
  baytree_app/sessions/views.py
Due: build server

fixing the imports bug
  baytree_app/sessions/permissions.py
  baytree_app/sessions/views.py
Due: build server

fixing a bug in authorization with noel's help
  baytree_app/sessions/views.py
Due: build server

un-commenting a line that was disabled for developement
  frontend/src/Components/Sessions.tsx
Due: build frontend

setting up the backend for resource page
  baytree_app/baytree_app/urls.py
  baytree_app/resources/constants.py
  baytree_app/resources/permissions.py
  baytree_app/resources/urls.py
  baytree_app/resources/views.py
  frontend/src/Components/Navigation.tsx
Due: build frontend, build server

completing the resource permissions
  baytree_app/resources/urls.py
  baytree_app/resources/views.py
  frontend/src/Components/Navigation.tsx
Due: build frontend, build server

adding permission to record page
  baytree_app/records/permissions.py
  baytree_app/records/views.py
  baytree_app/resources/permissions.py
Due: build server

finishing up with permmisions
  baytree_app/records/permissions.py
Due: build server

Create ResetPasswordLink model
  baytree_app/users/migrations/0021_resetpasswordlink.py
  baytree_app/users/models.py
Due: build server

Create send reset email endpoint
  baytree_app/users/urls.py
  baytree_app/users/views.py
Due: build server

Finish send reset password template, endpoint
  baytree_app/emails/templates/mentorResetPassword.html
  baytree_app/emails/templates/mentorResetPassword.mjml
  baytree_app/users/views.py
Due: build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml
