Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  DEV_BRANCH: "master"
  STG_BRANCH: "staging"

build frontend:
  stage: build
  image: node:16
  tags:
    - docker
  rules:
    - if: "$CI_MERGE_REQUEST_ID != null"
      changes:
        - frontend/**/*
        - .gitlab-ci.yml
      when: always
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $STG_BRANCH"
      when: always
  before_script:
    - cd frontend
    - npm ci
  script:
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
      - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
    - docker
  rules:
    - if: "$CI_MERGE_REQUEST_ID != null"
      changes:
        - admin-frontend/**/*
        - .gitlab-ci.yml
      when: always
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $STG_BRANCH"
      when: always
  before_script:
    - cd admin-frontend
    - npm ci
  script:
    - GENERATE_SOURCEMAP=false npm run export
  after_script:
    - ls -l admin-frontend
    - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
      - admin_frontend_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: mariadb:5.5
      alias: test_mysql
  tags:
    - docker
  needs: []
  rules:
    - if: "$CI_MERGE_REQUEST_ID != null"
      changes:
        - baytree_app/**/*
        - .gitlab-ci.yml
      when: always
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $STG_BRANCH"
      when: always
  variables:
    DOMAIN: "example.com"
    SECRET_KEY: "test"
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ""
    EMAIL_PORT: ""
    EMAIL_USER: ""
    EMAIL_PASSWORD: ""
    VIEWS_USERNAME: ""
    VIEWS_PASSWORD: ""
  before_script:
    - cd baytree_app
  script:
    - pip install -r requirements.txt
    - python manage.py check
    - python manage.py makemigrations --check

.deploy-script: &deploy-script
  - cp /var/baytree/.env ./.env
  - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
  - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
  - docker image prune -f # remove unused images since we just built new ones
  - bash -c 'sleep 15'
  - docker exec baytree_server python manage.py migrate

deploy development:
  stage: deploy
  environment:
    name: development
    url: https://baytree-dev.cmpt.sfu.ca
  tags:
    - deploy-development
  rules:
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH"
      when: on_success
  script:
    - *deploy-script

deploy staging:
  stage: deploy
  environment:
    name: staging
    url: https://baytree-stg.cmpt.sfu.ca
  tags:
    - deploy-staging
  rules:
    - if: "$CI_COMMIT_BRANCH == $STG_BRANCH"
      when: on_success
  script:
    - *deploy-script

Update READMEs
  README.md
  admin-frontend/README.md
  baytree_app/README.md
Due: build admin-frontend, build server

most of the backend and frontend for the record page is done
  baytree_app/records/constants.py
  baytree_app/records/permissions.py
  baytree_app/records/views.py
  frontend/src/Components/Records.tsx
Due: build frontend, build server

adding style to the page
  frontend/src/Components/Records.tsx
  frontend/src/Components/css/records.css
Due: build frontend

cleaned the branch for merge and also prameterized the mentor id
  baytree_app/records/urls.py
  baytree_app/records/views.py
  frontend/src/Components/Records.tsx
Due: build frontend, build server

Implements Monthly Notification for Pending Questionnaire to Complete
  baytree_app/baytree_app/base_settings.py
  baytree_app/baytree_app/urls.py
  baytree_app/notifications/__init__.py
  baytree_app/notifications/admin.py
  baytree_app/notifications/apps.py
  baytree_app/notifications/migrations/0001_initial.py
  baytree_app/notifications/migrations/0002_auto_20220226_2325.py
  baytree_app/notifications/migrations/__init__.py
  baytree_app/notifications/models.py
  baytree_app/notifications/permissions.py
  baytree_app/notifications/serializers.py
  baytree_app/notifications/tasks.py
  baytree_app/notifications/tests.py
  baytree_app/notifications/urls.py
  baytree_app/notifications/views.py
  frontend/src/Components/Goals.tsx
  frontend/src/Components/GoalsList.tsx
  frontend/src/Components/Navigation.tsx
  frontend/src/Components/Notification.tsx
  frontend/src/Components/Notifications.tsx
Due: build frontend, build server

Fix navbar z-index and page content x-overflow
  admin-frontend/components/shared/Navbar/sidebar.tsx
  admin-frontend/components/shared/Navbar/topbar.tsx
  admin-frontend/constants/constants.tsx
  admin-frontend/pages/_app.tsx
Due: build admin-frontend

Add initial homepage with chart and card layout
  admin-frontend/components/pages/home/menteeDemographicsCard.tsx
  admin-frontend/components/pages/home/mentorDemographicsCard.tsx
  admin-frontend/components/pages/home/sessionStatsCard.tsx
  admin-frontend/package.json
  admin-frontend/pages/home.tsx
Due: build admin-frontend

navigating to related page after clicking to relative notification
  frontend/src/Components/Notification.tsx
Due: build frontend

parametirize the content of notification and added date on the notification
  baytree_app/notifications/migrations/0002_auto_20220226_2325.py
  baytree_app/notifications/migrations/0003_notification_content.py
  baytree_app/notifications/models.py
  baytree_app/notifications/serializers.py
  baytree_app/notifications/tasks.py
  frontend/src/Components/CreateGoals.tsx
  frontend/src/Components/Notification.tsx
Due: build frontend, build server

changes for merge review
  baytree_app/baytree_app/base_settings.py
  baytree_app/records/urls.py
  baytree_app/records/views.py
  frontend/package.json
  frontend/src/Components/Records.tsx
  frontend/src/Components/css/records.css
Due: build frontend, build server

adding schedule module to the requirements for docker
  baytree_app/requirements.txt
Due: build server

Add sessiongroup and sessions views django endpoints. Refactor endpoint urls/names
  admin-frontend/api/backend/views/mentors.ts
  admin-frontend/api/backend/views/sessionGroups.ts
  admin-frontend/api/backend/views/sessions.ts
  admin-frontend/api/backend/views/volunteers.ts
  admin-frontend/components/pages/mentors/addMentorModal.tsx
  baytree_app/baytree_app/urls.py
  baytree_app/users/urls.py
  baytree_app/users/views.py
  baytree_app/views_api/session_groups.py
  baytree_app/views_api/sessions.py
  baytree_app/views_api/urls.py
  baytree_app/views_api/volunteers.py
Due: build admin-frontend, build server

Create initial session stats card and reusable paginatedSelect react component
  admin-frontend/components/pages/home/sessionStatsCard.tsx
  admin-frontend/components/shared/paginatedSelect.tsx
Due: build admin-frontend

Change endpoints to return full db table on no limit provided
  admin-frontend/api/backend/base.ts
  baytree_app/baytree_app/views.py
  baytree_app/views_api/session_groups.py
  baytree_app/views_api/sessions.py
Due: build admin-frontend, build server

Parse session response from django backend into usable format
  admin-frontend/api/backend/views/sessions.ts
Due: build admin-frontend

Create first version of group statistics chart
  admin-frontend/components/pages/home/sessionStatsCard.tsx
  admin-frontend/pages/home.tsx
Due: build admin-frontend

Add react-select-async-paginate for paginated select boxes
  admin-frontend/package.json
Due: build admin-frontend

Add pending to report figure to group stats
  admin-frontend/components/pages/home/sessionStatsCard.tsx
  admin-frontend/components/shared/paginatedSelect.tsx
Due: build admin-frontend

Finish Mentor Demographic Card
  admin-frontend/api/backend/base.ts
  admin-frontend/api/backend/views/sessions.ts
  admin-frontend/api/backend/views/volunteers.ts
  admin-frontend/components/pages/home/mentorDemographicsCard.tsx
  admin-frontend/components/pages/home/sessionStatsCard.tsx
  admin-frontend/package.json
  baytree_app/views_api/volunteers.py
Due: build admin-frontend, build server

Add participants endpoints and finish mentee demographics card
  admin-frontend/api/backend/views/participants.ts
  admin-frontend/api/backend/views/volunteers.ts
  admin-frontend/components/pages/home/menteeDemographicsCard.tsx
  admin-frontend/components/pages/home/mentorDemographicsCard.tsx
  admin-frontend/components/pages/home/sessionStatsCard.tsx
  admin-frontend/components/pages/mentors/addMentorModal.tsx
  admin-frontend/constants/constants.tsx
  admin-frontend/pages/home.tsx
  baytree_app/views_api/participants.py
  baytree_app/views_api/urls.py
Due: build admin-frontend, build server

Merge changes and fix a few bugs
  admin-frontend/api/backend/base.ts
  admin-frontend/components/pages/mentors/addMentorModal.tsx
  admin-frontend/constants/constants.tsx
  baytree_app/baytree_app/settings.py
  baytree_app/baytree_app/urls.py
  baytree_app/baytree_app/views.py
  baytree_app/notifications/__init__.py
  baytree_app/notifications/admin.py
  baytree_app/notifications/apps.py
  baytree_app/notifications/migrations/0001_initial.py
  baytree_app/notifications/migrations/0002_auto_20220226_2325.py
  baytree_app/notifications/migrations/0003_notification_content.py
  baytree_app/notifications/migrations/__init__.py
  baytree_app/notifications/models.py
  baytree_app/notifications/permissions.py
  baytree_app/notifications/serializers.py
  baytree_app/notifications/tasks.py
  baytree_app/notifications/tests.py
  baytree_app/notifications/urls.py
  baytree_app/notifications/views.py
  baytree_app/records/__init__.py
  baytree_app/records/admin.py
  baytree_app/records/apps.py
  baytree_app/records/constants.py
  baytree_app/records/migrations/__init__.py
  baytree_app/records/models.py
  baytree_app/records/permissions.py
  baytree_app/records/tests.py
  baytree_app/records/urls.py
  baytree_app/records/views.py
  baytree_app/requirements.txt
  baytree_app/views_api/volunteers.py
  frontend/package.json
  frontend/src/Components/CreateGoals.tsx
  frontend/src/Components/Goals.tsx
  frontend/src/Components/GoalsList.tsx
  frontend/src/Components/Navigation.tsx
  frontend/src/Components/Notification.tsx
  frontend/src/Components/Notifications.tsx
  frontend/src/Components/Records.tsx
Due: build frontend, build admin-frontend, build server

Commit package-lock for deployments?
  admin-frontend/package-lock.json
  frontend/package-lock.json
Due: build frontend, build admin-frontend

Fix admin-frontend build issue
  admin-frontend/components/pages/home/sessionStatsCard.tsx
Due: build admin-frontend

Add react-select to project
  admin-frontend/package-lock.json
  admin-frontend/package.json
Due: build admin-frontend

Fix mentee demographic legend ages
  admin-frontend/components/pages/home/menteeDemographicsCard.tsx
Due: build admin-frontend

Make demographics charts more responsive for the phone
  admin-frontend/components/pages/home/menteeDemographicsCard.tsx
  admin-frontend/components/pages/home/mentorDemographicsCard.tsx
Due: build admin-frontend

Change percents to black for more contrast
  admin-frontend/components/pages/home/menteeDemographicsCard.tsx
  admin-frontend/components/pages/home/mentorDemographicsCard.tsx
Due: build admin-frontend

Fix URLs referencing localhost, /admin
  admin-frontend/api/backend/url.ts
  admin-frontend/components/shared/noServerSideRender.tsx
  admin-frontend/pages/_app.tsx
  admin-frontend/pages/index.tsx
  admin-frontend/public/images/imageUrls.tsx
  frontend/package-lock.json
  frontend/src/Components/GoalsList.tsx
  frontend/src/Components/Records.tsx
Due: build frontend, build admin-frontend

Add clarifications to views api endpoints
  baytree_app/views_api/participants.py
  baytree_app/views_api/session_groups.py
  baytree_app/views_api/sessions.py
  baytree_app/views_api/volunteers.py
Due: build server

Remove initial mock data, refactor code, and improve UX
  admin-frontend/components/pages/home/sessionStatsCard.tsx
Due: build admin-frontend

Fix react list item rendering warnings
  admin-frontend/components/pages/home/menteeDemographicsCard.tsx
  admin-frontend/components/pages/home/mentorDemographicsCard.tsx
Due: build admin-frontend

coreecting the Get request url from staff to volunteer
  baytree_app/records/constants.py
  baytree_app/records/views.py
Due: build server

added the recommanded changes from customer
  frontend/src/Components/Records.tsx
Due: build frontend

Sending a POST request for session to viewsapp
  baytree_app/sessions/constants.py
  baytree_app/sessions/urls.py
  baytree_app/sessions/views.py
  frontend/src/Components/Sessions.tsx
Due: build frontend, build server

adding the POST request for note, mentor and mentee
  baytree_app/sessions/views.py
  frontend/src/Components/Sessions.tsx
Due: build frontend, build server

Create initial accountcreationlink model and sending endpoint. Add AWS library boto3
  baytree_app/requirements.txt
  baytree_app/users/models.py
  baytree_app/users/urls.py
  baytree_app/users/views.py
Due: build server

Add accountcreationlink migrations
  baytree_app/users/migrations/0019_accountcreationlink.py
Due: build server

Change linkId to be a UUID field
  baytree_app/users/migrations/0020_auto_20220318_2052.py
  baytree_app/users/models.py
Due: build server

Create initial email template for account creation, generalize Account Creation endpoint for different accounts types
  baytree_app/email/templates/mentorAccountCreation.html
  baytree_app/users/models.py
  baytree_app/users/urls.py
  baytree_app/users/views.py
Due: build server

Create mentor account creation email template
  baytree_app/email/templates/mentorAccountCreation.mjml
Due: build server
