Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml

Change success message
  frontend/src/Components/forms/ResetPasswordRequest.tsx
Due: build frontend

Fix Double modal closing bug and clean up session modals
  admin-frontend/api/backend/views/sessions.ts
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionsModal.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionsNotesModal.tsx
  admin-frontend/components/shared/Modal.tsx
Due: build admin-frontend

Replace simple error message with mui Alert
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Change message to include break tags for new lines that work with the Alert component
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Add an error message for failure to submit Mentee questionnaire
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Add export button to session stats header
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/util/misc.ts
Due: build admin-frontend

Lift mentor session aggregation logic up the component tree and refactor
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard/Logic.ts
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  admin-frontend/pages/home.tsx
Due: build admin-frontend

Update CSV helper methods, implement export handler
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard/Logic.ts
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  admin-frontend/util/misc.ts
Due: build admin-frontend

Reorganize exported columns and fix bugs
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard/Logic.ts
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/util/misc.ts
Due: build admin-frontend

Remove frontend data extraction in favour of getting data from response
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Construct response to send quesitonnaire submission details to avoid frontend detail extraction
  baytree_app/questionnaires/views.py
Due: build server

Add ordering to the goals
  baytree_app/goals/views.py
Due: build server

Remove unnecessary logging
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Readd missing line removed from previous merge
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

add anchor element to DOM for higher browser compatibility
  admin-frontend/util/misc.ts
Due: build admin-frontend

Simplify class to for no constructor use with logging implemented for
  frontend/src/api/logging.ts
Due: build frontend

Use updated logging to fix pipeline break
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Add filter by categories
  baytree_app/goals/views.py
Due: build server

Use new API for the frontend
  baytree_app/goals/views.py
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Components/goals/GoalsList.tsx
  frontend/src/Components/goals/GoalsMiniList.tsx
  frontend/src/Components/goals/GoalsStatistics.tsx
  frontend/src/api/goals.ts
  frontend/src/context/GoalContext.tsx
Due: build frontend, build server

Faster API
  baytree_app/goals/serializers.py
  baytree_app/goals/views.py
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/api/goals.ts
Due: build frontend, build server

Add categories querying
  baytree_app/goals/views.py
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/GoalQuerying.tsx
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Components/goals/GoalsList.tsx
  frontend/src/Components/goals/GoalsStatistics.tsx
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/Components/shared/Loading.tsx
  frontend/src/api/goals.ts
  frontend/src/context/GoalContext.tsx
  frontend/src/hooks/useGoalCategories.ts
Due: build frontend, build server

Finish filtering
  baytree_app/goals/views.py
  frontend/src/Components/goals/GoalQuerying.tsx
  frontend/src/Components/goals/GoalsList.tsx
Due: build frontend, build server

New goal export API
  baytree_app/goals/urls.py
  baytree_app/goals/views.py
Due: build server

Faster goal exports
  baytree_app/goals/urls.py
  baytree_app/goals/views.py
  frontend/src/Components/goals/GoalExportButton.tsx
  frontend/src/Components/goals/GoalsMiniList.tsx
  frontend/src/api/goals.ts
  frontend/src/context/GoalContext.tsx
Due: build frontend, build server

Remove papaparse
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Clean up packages
  admin-frontend/package-lock.json
  admin-frontend/package.json
Due: build admin-frontend

Rename
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/GoalQuerying.tsx
  frontend/src/api/goals.ts
  frontend/src/context/GoalContext.tsx
Due: build frontend

Querying goals on the admin portal
  admin-frontend/api/backend/goals.ts
  admin-frontend/components/pages/goals/GoalExportButton.tsx
  admin-frontend/components/pages/goals/GoalListItem.tsx
  admin-frontend/components/pages/goals/GoalQuerying.tsx
  admin-frontend/hooks/useGoals.ts
  admin-frontend/pages/goals.tsx
  baytree_app/goals/views.py
Due: build admin-frontend, build server

Search goals by title or email
  admin-frontend/api/backend/goals.ts
  admin-frontend/components/pages/goals/GoalQuerying.tsx
  admin-frontend/package-lock.json
  admin-frontend/package.json
  admin-frontend/pages/goals.tsx
  baytree_app/goals/views.py
Due: build admin-frontend, build server

Add category to goals
  admin-frontend/api/backend/goals.ts
  admin-frontend/components/pages/goals/GoalListItem.tsx
Due: build admin-frontend

Debounce search
  admin-frontend/components/pages/goals/GoalQuerying.tsx
  admin-frontend/package-lock.json
  admin-frontend/package.json
  frontend/src/Components/goals/GoalQuerying.tsx
  frontend/src/api/goals.ts
Due: build frontend, build admin-frontend

Fix bugs
  frontend/src/Components/goals/GoalsMiniList.tsx
Due: build frontend

Fix goal dialogs
  frontend/src/App.tsx
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Components/goals/GoalsList.tsx
  frontend/src/context/GoalContext.tsx
Due: build frontend

Optimize the packages
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: build frontend

Extract hooks from goal context
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/GoalQuerying.tsx
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Components/goals/GoalsList.tsx
  frontend/src/Components/goals/GoalsStatistics.tsx
  frontend/src/context/GoalContext.tsx
  frontend/src/hooks/useGoalStatistics.ts
  frontend/src/hooks/useGoals.ts
Due: build frontend

Fix infinite loop
  frontend/src/Components/goals/GoalsMiniList.tsx
  frontend/src/api/goals.ts
  frontend/src/context/GoalContext.tsx
  frontend/src/hooks/useGoals.ts
Due: build frontend

Dynamic search fileds based on user roles
  baytree_app/goals/views.py
Due: build server

New API endpoint to edit note
  baytree_app/records/urls.py
  baytree_app/records/views.py
  baytree_app/views_api/sessions.py
Due: build server

Update note from session record
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/Components/shared/InfoTextField.tsx
  frontend/src/api/records.ts
Due: build frontend

Small changes for the dialog
  frontend/src/Components/records/RecordDetail.tsx
Due: build frontend
