Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

build frontend:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - cd frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
  - docker
  before_script:
  - cd admin-frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run export
  after_script:
  - ls -l admin-frontend
  - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: mariadb:5.5
    alias: test_mysql
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ''
  ...

Remove unnecessary pagination for mentor roles
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Remove unnecessary search bar
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Fix typescript error
  admin-frontend/pages/mentors.tsx
Due: build admin-frontend

Handle error in questionnaire
  frontend/src/api/views.ts
  frontend/src/hooks/useMentor.ts
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

Add loading state to useMentees hook
  frontend/src/api/views.ts
  frontend/src/hooks/useMentees.ts
  frontend/src/hooks/useMentor.ts
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

Use finally to disable loading state
  frontend/src/hooks/useMentor.ts
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

Prettier
  frontend/src/App.tsx
  frontend/src/Components/CreateAccount.tsx
  frontend/src/Components/Notification.tsx
  frontend/src/Components/Profile.tsx
  frontend/src/Components/Records.tsx
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/dashboard/SideMenu.tsx
  frontend/src/Components/goals/CreateGoals.tsx
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Components/home/Scheduler.tsx
  frontend/src/Components/questionnaire/ChoiceInput.tsx
  frontend/src/Components/questionnaire/InvalidQuestionnaire.tsx
  frontend/src/Components/questionnaire/MenteesNameInput.tsx
  frontend/src/Components/questionnaire/MentorNameQuestion.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/Components/questionnaire/TextInput.tsx
  frontend/src/Components/shared/Loading.tsx
  frontend/src/api/auth.ts
  frontend/src/api/goals.ts
  frontend/src/api/misc.ts
  frontend/src/api/notification.ts
  frontend/src/api/views.ts
  frontend/src/hooks/useMentor.ts
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

Highlight invalid cells on datagrid save
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridBody.tsx
  admin-frontend/components/shared/datagrid/datagridBodyCreatedDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridBodyDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridRowLogic.tsx
  admin-frontend/components/shared/datagrid/datagridTypes.tsx
  admin-frontend/components/shared/datagrid/hooks/useData.tsx
  admin-frontend/components/shared/datagrid/hooks/useDataLogic.tsx
Due: build admin-frontend

Change color to yellow invalid cells, refactor
  admin-frontend/components/shared/datagrid/datagridBoolComponent.tsx
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridCellLogic.tsx
  admin-frontend/components/shared/datagrid/datagridDateComponent.tsx
  admin-frontend/components/shared/datagrid/datagridSelectComponent.tsx
  admin-frontend/components/shared/datagrid/hooks/useDataLogic.tsx
Due: build admin-frontend

Add global MUI theme provider and unnecessary API calls rerender issues in site and datagrid
  admin-frontend/components/shared/datagrid/datagridAddRow.tsx
  admin-frontend/components/shared/datagrid/datagridBoolComponent.tsx
  admin-frontend/components/shared/datagrid/datagridDeleteCell.tsx
  admin-frontend/components/shared/datagrid/datagridHeaderRow.tsx
  admin-frontend/components/shared/datagrid/hooks/useData.tsx
  admin-frontend/pages/_app.tsx
  admin-frontend/styles/theme.tsx
Due: build admin-frontend

Change delete button color to red
  admin-frontend/components/shared/datagrid/datagridDeleteCell.tsx
Due: build admin-frontend

Update goal model
  baytree_app/goals/migrations/0007_auto_20220606_1445.py
  baytree_app/goals/models.py
Due: build server

Add mui primary color to more site components, remove group stats card from home
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/shared/Navbar/sidebar.tsx
  admin-frontend/components/shared/pager.tsx
  admin-frontend/pages/home.tsx
  admin-frontend/pages/mentors.tsx
Due: build admin-frontend

Removed unused dependencies
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Fix the vulnerabilities
  admin-frontend/package-lock.json
  admin-frontend/package.json
Due: build admin-frontend

Update package-lock.json
  frontend/package-lock.json
Due: build frontend

Add required select fields and fix autofill bug for sessions page
  frontend/src/Components/sessions/Sessions.tsx
  frontend/src/hooks/useVenues.ts
Due: build frontend

Fix broken endpoints for post, delete, and put
  admin-frontend/api/backend/holidays.ts
Due: build admin-frontend

Change update holiday function to take in two params
  admin-frontend/pages/holidays.tsx
Due: build admin-frontend

Add response of Success for 204 status on backend delete
  admin-frontend/api/backend/base.ts
Due: build admin-frontend

Update backend put to have just a holiday param
  admin-frontend/api/backend/holidays.ts
  admin-frontend/pages/holidays.tsx
Due: build admin-frontend

Update goal serializer
  baytree_app/goals/models.py
  baytree_app/goals/serializers.py
  baytree_app/views_api/participants.py
Due: build server

Update goal API endpoints
  baytree_app/goals/models.py
  baytree_app/goals/urls.py
  baytree_app/goals/views.py
Due: build server

Add custom query to goal API
  baytree_app/goals/migrations/0008_alter_goal_mentor.py
  baytree_app/goals/models.py
  baytree_app/goals/serializers.py
  baytree_app/goals/views.py
  baytree_app/users/migrations/0032_alter_mentoruser_mentorrole.py
  baytree_app/users/models.py
Due: build server

Fix mentor role
  baytree_app/users/models.py
  baytree_app/users/views.py
Due: build server

Add new migration
  baytree_app/users/migrations/0032_alter_mentoruser_mentorrole.py
Due: build server

Improve goal statistics
  frontend/src/App.tsx
  frontend/src/Components/goals/GoalsPage.tsx
  frontend/src/Components/goals/GoalsStatistics.tsx
  frontend/src/api/goals.ts
Due: build frontend

Add new scheduler dependencies
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Use new calendar layout
  frontend/src/Components/dashboard/Dashboard.tsx
  frontend/src/Components/home/Home.tsx
  frontend/src/Components/home/scheduler/DesktopScheduler.tsx
  frontend/src/Components/home/scheduler/HomeScheduler.tsx
  frontend/src/Components/home/scheduler/MobileScheduler.tsx
  frontend/src/Utils/theme.ts
Due: build frontend

Add holiday API and scheduler context
  frontend/src/Components/home/scheduler/DesktopScheduler.tsx
  frontend/src/Components/home/scheduler/HomeScheduler.tsx
  frontend/src/Components/home/scheduler/MobileScheduler.tsx
  frontend/src/api/misc.ts
  frontend/src/context/SchedulerContext.tsx
Due: build frontend

Simplify the calender rendering
  frontend/src/Components/home/Home.tsx
  frontend/src/Components/home/HomeScheduler.tsx
  frontend/src/Components/home/scheduler/DesktopScheduler.tsx
  frontend/src/Components/home/scheduler/HomeScheduler.tsx
  frontend/src/Components/home/scheduler/MobileScheduler.tsx
  frontend/src/context/SchedulerContext.tsx
  frontend/src/hooks/useScheduler.ts
Due: build frontend

Update readme for email password
  README.md
Due: none

Update readme typo
  README.md
Due: none

Fetch sessions by volunteer
  baytree_app/views_api/sessions.py
  baytree_app/views_api/urls.py
  baytree_app/views_api/volunteers.py
Due: build server

Remove session model
  baytree_app/sessions/constants.py
  baytree_app/sessions/migrations/0010_delete_mentorsession.py
  baytree_app/sessions/models.py
  baytree_app/sessions/permissions.py
  baytree_app/sessions/serializers.py
  baytree_app/sessions/templates/worklogs/detail.html
  baytree_app/sessions/templates/worklogs/index.html
  baytree_app/sessions/urls.py
  baytree_app/sessions/views.py
  baytree_app/views_api/activities.py
  baytree_app/views_api/associations.py
  baytree_app/views_api/sessions.py
  baytree_app/views_api/venues.py
  baytree_app/views_api/volunteeringTypes.py
Due: build server

Remove record endpoint
  baytree_app/baytree_app/settings.py
  baytree_app/baytree_app/urls.py
  baytree_app/records/__init__.py
  baytree_app/records/admin.py
  baytree_app/records/apps.py
  baytree_app/records/constants.py
  baytree_app/records/migrations/__init__.py
  baytree_app/records/models.py
  baytree_app/records/permissions.py
  baytree_app/records/tests.py
  baytree_app/records/urls.py
  baytree_app/records/views.py
Due: build server

Decrease initial page loading time in admin portal
  admin-frontend/pages/_app.tsx
Due: build admin-frontend

Add multi-select boxes to shared datagrid
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridSelectComponent.tsx
  admin-frontend/components/shared/datagrid/datagridTypes.tsx
  admin-frontend/components/shared/datagrid/hooks/useDataLogic.tsx
  admin-frontend/util/misc.ts
Due: build admin-frontend

Fetch detailed session by session id
  baytree_app/views_api/constants.py
  baytree_app/views_api/sessions.py
  baytree_app/views_api/urls.py
  baytree_app/views_api/util.py
  baytree_app/views_api/volunteers.py
Due: build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml
