Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml

include python path
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

include installation of required dependencies
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

install requirements beforing moving to test directory
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

fix before_script
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

install shared apps
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

add missing variables
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

fix paths in FluentLoggerTests and test_failed_log
  baytree_app/baytree_app/testing/FluentLoggerTests.py
  baytree_app/baytree_app/testing/test_failed_log.py
Due: build server

test failed unit test
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

remove python path
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

try setting python path to "/code"
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

set python path back to $CI_PROJECT_DIR
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

set python path back to $CI_PROJECT_DIR/baytree_app
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

try setting python path to /code/baytree_app
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

revert python path
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

create a critical log for failed test cases
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

remove uneccessary test_failed_log script and only log failed test cases
  .gitlab-ci.yml
  baytree_app/baytree_app/testing/FluentLoggerTests.py
  baytree_app/baytree_app/testing/test_failed_log.py
Due: build frontend, build admin-frontend, build server

debug test case failures
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

log failed test cases
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

remove tear down code
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

add missing logger setup
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

remove uneccessary logs and show contents of log files
  .gitlab-ci.yml
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build frontend, build admin-frontend, build server

fix failing test case
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

Fix frontend linting issues
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/goals/GoalQuerying.tsx
  frontend/src/Components/home/MenteeInfo.tsx
  frontend/src/Components/home/Statistics.tsx
  frontend/src/Components/questionnaire/CheckBoxInput.tsx
  frontend/src/Components/questionnaire/MenteesNameInput.tsx
  frontend/src/Components/questionnaire/SpecialInput.tsx
  frontend/src/Components/questionnaire/TextInput.tsx
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/Components/records/RecordExportDetailButton.tsx
  frontend/src/api/auth.test.ts
  frontend/src/api/logging.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/index.tsx
  frontend/src/pages/Sessions.tsx
Due: build frontend

Fix frontend linting issues
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/goals/GoalQuerying.tsx
  frontend/src/Components/home/MenteeInfo.tsx
  frontend/src/Components/home/Statistics.tsx
  frontend/src/Components/questionnaire/CheckBoxInput.tsx
  frontend/src/Components/questionnaire/MenteesNameInput.tsx
  frontend/src/Components/questionnaire/SpecialInput.tsx
  frontend/src/Components/questionnaire/TextInput.tsx
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/Components/records/RecordExportDetailButton.tsx
  frontend/src/api/auth.test.ts
  frontend/src/api/logging.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/GoalContext.tsx
  frontend/src/hooks/useSessionDetail.ts
  frontend/src/index.tsx
  frontend/src/pages/Sessions.tsx
Due: build frontend

Fix frontend linting issues
  frontend/src/Components/questionnaire/TextInput.tsx
Due: build frontend

create new env var for testing fluent logger tests locally
  baytree_app/baytree_app/testing/FluentLoggerTests.py
  docker-compose.yml
Due: build server

update readme
  README.md
Due: none

test env var
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

add checks for LOGGER_TESTS env variable
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

update read me and change name of env var
  README.md
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

Fix minor bugs and update models
  baytree_app/views_api/volunteers.py
  views_mock/contacts/migrations/0008_remove_person_country_and_more.py
  views_mock/contacts/models.py
  views_mock/views_api/contacts.py
Due: build server

update docker env var
  docker-compose.yml
Due: none

address comments
  README.md
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

remove uneccessary period
  README.md
Due: none

update: migrated data migration to fixture
  views_mock/views_sessions/fixtures/session_groups.json
  views_mock/views_sessions/migrations/0003_auto_20230412_2043.py
Due: none

Refactored participants endpoint to be cleaner and asynchronous
  admin-frontend/components/pages/home/menteeDemographicsCard.tsx
  baytree_app/requirements.txt
  baytree_app/views_api/participants.py
  baytree_app/views_api/urls.py
Due: build admin-frontend, build server

Saved progress
  baytree_app/views_api/questionnaires.py
  views_mock/requirements.txt
  views_mock/views_api/questionnaires.py
  views_mock/views_api/urls.py
Due: build server

Merged migrations
  views_mock/contacts/migrations/0009_merge_20230418_0531.py
Due: none
