Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml

fixed environmental variable
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/settings.py
Due: build server

fix
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/settings.py
Due: build server

update comments
  baytree_app/baytree_app/settings.py
  fluent-bit/fluent-bit.conf
Due: build server

Update README.md
  README.md
Due: none

update mariadb to 10.9.4
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

added aws variable to ci
  .gitlab-ci.yml
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/views.py
Due: build frontend, build admin-frontend, build server

fix stg logging
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/settings.py
  baytree_app/baytree_app/views.py
Due: build server

Update views.py
  baytree_app/baytree_app/views.py
Due: build server

Update FluentLoggingHandler.py
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

fix
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/settings.py
  baytree_app/baytree_app/views.py
Due: build server

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

Updated .gitignore and README.md
  .gitignore
  README.md
Due: none

Apply latest eslint and prettier to both frontends
  admin-frontend/.prettierrc.json
  admin-frontend/next.config.js
  admin-frontend/package-lock.json
  admin-frontend/package.json
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
Due: build frontend, build admin-frontend

Add @babel/preset-typescript as a devDependency to frontend package.json
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

show a nice message for notifications tab
  frontend/src/pages/Notifications.tsx
Due: build frontend

Set up a basic middleware for redirecting requests to Views endpoints to another server
  baytree_app/baytree_app/middleware.py
  baytree_app/baytree_app/settings.py
  frontend/package.json
Due: build frontend, build server

Set up a node server for mocking Views
  docker-compose.override.yml
  docker-compose.yml
  frontend/package.json
  mock-views-app/Dockerfile
  mock-views-app/package-lock.json
  mock-views-app/package.json
  mock-views-app/server.js
Due: build frontend

Add prettier and eslint packages to mock views app
  mock-views-app/.eslintrc.json
  mock-views-app/.prettierrc.json
  mock-views-app/package-lock.json
  mock-views-app/package.json
  mock-views-app/server.js
Due: none

Handle linting errors including incorrect types
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/notification.ts
  frontend/src/pages/Notifications.tsx
Due: build frontend

Remove localhost:8000 from ALLOWED_HOSTS and change import statements in server.js
  baytree_app/baytree_app/settings.py
  mock-views-app/server.js
Due: build server

Specify node image for mock-views-app in docker-compose.yaml
  docker-compose.override.yml
Due: none

Add typescript to node server
  mock-views-app/package-lock.json
  mock-views-app/package.json
  mock-views-app/tsconfig.json
Due: none

Convert server.js to server.ts
  mock-views-app/package-lock.json
  mock-views-app/package.json
  mock-views-app/server.js
  mock-views-app/server.ts
  mock-views-app/tsconfig.json
Due: none

Add an instruction to run the node server locally in README
  README.md
Due: none

Modified logging functionality
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/settings.py
  fluent-bit/fluent-bit.conf
Due: build server

Removed commented code
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

Added test code for reviewer to test
  baytree_app/resources/views.py
Due: build server

Updating writeMessageLog to take in an object to log
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/resources/views.py
Due: build server

Broke down messageLog function to smaller ones and updated test code
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/resources/views.py
Due: build server

Addressed comments
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/resources/views.py
Due: build server

remove unused import and improve component formatting
  frontend/src/pages/Goals.tsx
Due: build frontend

improve formatting of GoalDialog component
  frontend/src/Components/goals/GoalDialog.tsx
Due: build frontend

add close functionality to dialog
  frontend/src/Components/goals/GoalDialog.tsx
Due: build frontend

Addressed comments
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server
