Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  DEV_BRANCH: "master"
  STG_BRANCH: "staging"

build frontend:
  stage: build
  image: node:16
  tags:
    - docker
  rules:
    - if: "$CI_MERGE_REQUEST_ID != null"
      changes:
        - frontend/**/*
        - .gitlab-ci.yml
      when: always
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $STG_BRANCH"
      when: always
  before_script:
    - cd frontend
    - npm ci
  script:
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
      - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
    - docker
  rules:
    - if: "$CI_MERGE_REQUEST_ID != null"
      changes:
        - admin-frontend/**/*
        - .gitlab-ci.yml
      when: always
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $STG_BRANCH"
      when: always
  before_script:
    - cd admin-frontend
    - npm ci
  script:
    - GENERATE_SOURCEMAP=false npm run export
  after_script:
    - ls -l admin-frontend
    - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
      - admin_frontend_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: mariadb:5.5
      alias: test_mysql
  tags:
    - docker
  needs: []
  rules:
    - if: "$CI_MERGE_REQUEST_ID != null"
      changes:
        - baytree_app/**/*
        - .gitlab-ci.yml
      when: always
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $STG_BRANCH"
      when: always
  variables:
    DOMAIN: "example.com"
    SECRET_KEY: "test"
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ""
    EMAIL_PORT: ""
    EMAIL_USER: ""
    EMAIL_PASSWORD: ""
    VIEWS_USERNAME: ""
    VIEWS_PASSWORD: ""
  before_script:
    - cd baytree_app
  script:
    - pip install -r requirements.txt
    - python manage.py check
    - python manage.py makemigrations --check

.deploy-script: &deploy-script
  - cp /var/baytree/.env ./.env
  - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
  - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
  - docker image prune -f # remove unused images since we just built new ones
  - bash -c 'sleep 15'
  - docker exec baytree_server python manage.py migrate

deploy development:
  stage: deploy
  environment:
    name: development
    url: https://baytree-dev.cmpt.sfu.ca
  tags:
    - deploy-development
  rules:
    - if: "$CI_COMMIT_BRANCH == $DEV_BRANCH"
      when: on_success
  script:
    - *deploy-script

deploy staging:
  stage: deploy
  environment:
    name: staging
    url: https://baytree-stg.cmpt.sfu.ca
  tags:
    - deploy-staging
  rules:
    - if: "$CI_COMMIT_BRANCH == $STG_BRANCH"
      when: on_success
  script:
    - *deploy-script

Fix production build errors on admin-frontend
  admin-frontend/components/shared/datagrid/datagridBodyDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridRowActionsCell.tsx
Due: build admin-frontend

Create views api questionnaires endpoint
  baytree_app/views_api/questionnaires.py
  baytree_app/views_api/urls.py
Due: build server

Add questionnaire editing to mentor roles page
  admin-frontend/api/backend/activities.ts
  admin-frontend/api/backend/views/questionnaires.ts
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridHeaderRow.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/pages/mentorRoles.tsx
  baytree_app/users/migrations/0027_auto_20220530_0140.py
  baytree_app/users/migrations/0028_auto_20220530_0156.py
  baytree_app/users/models.py
  baytree_app/users/serializers.py
  baytree_app/views_api/questionnaires.py
Due: build admin-frontend, build server

Add mentor permissions to mentor roles endpoints
  baytree_app/users/permissions.py
  baytree_app/users/views.py
Due: build server

Add mentor role to mentor user model/serializer
  baytree_app/users/migrations/0029_mentoruser_mentorrole.py
  baytree_app/users/models.py
  baytree_app/users/serializers.py
Due: build server

Add dif primary key support for BatchRestSerializer, permissions for mentor users, rewrite mentor users endpoints
  baytree_app/baytree_app/serializers.py
  baytree_app/users/permissions.py
  baytree_app/users/serializers.py
  baytree_app/users/urls.py
  baytree_app/users/views.py
Due: build server

Update admin-frontend and frontend to use new mentors API
  admin-frontend/api/backend/mentorRoles.ts
  admin-frontend/api/backend/mentorUsers.ts
  admin-frontend/pages/home.tsx
  admin-frontend/pages/mentors.tsx
  frontend/src/api/mentorAccount.ts
Due: build frontend, build admin-frontend

Add mentor role field to mentors page, fix code
  admin-frontend/api/backend/base.ts
  admin-frontend/api/backend/mentorRoles.ts
  admin-frontend/api/backend/mentorUsers.ts
  admin-frontend/components/shared/datagrid/datagridTypes.tsx
  admin-frontend/components/shared/datagrid/hooks/useDataLogic.tsx
  admin-frontend/pages/mentorRoles.tsx
  admin-frontend/pages/mentors.tsx
  baytree_app/baytree_app/serializers.py
  baytree_app/users/serializers.py
Due: build admin-frontend, build server

Fix deletion bug, typing error
  admin-frontend/pages/mentors.tsx
Due: build admin-frontend

Detect unsupported input type in the questionnaire
  frontend/src/Components/questionnaire/InvalidQuestionnaire.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/hooks/useProfile.ts
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

Implement fetching the questionnaire
  baytree_app/questionnaires/urls.py
  baytree_app/questionnaires/views.py
Due: build server

Remove Questionnaire model
  baytree_app/baytree_app/constants.py
  baytree_app/questionnaires/admin.py
  baytree_app/questionnaires/models.py
  baytree_app/questionnaires/permissions.py
  baytree_app/questionnaires/serializers.py
  baytree_app/questionnaires/urls.py
  baytree_app/questionnaires/views.py
  baytree_app/questions_and_answers/models.py
Due: build server

Fix delete questionnaire model
  baytree_app/questionnaires/migrations/0003_delete_questionnaire.py
  baytree_app/questionnaires/models.py
  baytree_app/questions_and_answers/migrations/0002_remove_questionandanswer_questionnaire.py
Due: build server

Update the API endpoints
  baytree_app/holidays/urls.py
  baytree_app/holidays/views.py
Due: build server

Convert answer set from JSON to XML
  baytree_app/questionnaires/urls.py
  baytree_app/questionnaires/views.py
Due: build server

Add custom list action to grab first,last name from views for mentors
  admin-frontend/api/backend/mentorUsers.ts
  admin-frontend/components/shared/datagrid/hooks/useData.tsx
  admin-frontend/pages/mentors.tsx
  baytree_app/users/views.py
  baytree_app/views_api/volunteers.py
Due: build admin-frontend, build server

Add first name and last to admin portal mentors page, search
  admin-frontend/api/backend/base.ts
  admin-frontend/api/backend/mentorUsers.ts
  admin-frontend/pages/mentors.tsx
  baytree_app/users/views.py
Due: build admin-frontend, build server

Allow for first and last name searching with one name
  admin-frontend/api/backend/mentorUsers.ts
  baytree_app/users/views.py
  baytree_app/views_api/volunteers.py
Due: build admin-frontend, build server

Add more security to token endpoint, work on post session endpoint
  baytree_app/baytree_app/views.py
  baytree_app/views_api/sessions.py
  baytree_app/views_api/urls.py
Due: build server

Create associations views api endpoint
  baytree_app/sessions/permissions.py
  baytree_app/views_api/associations.py
  baytree_app/views_api/sessions.py
  baytree_app/views_api/urls.py
  baytree_app/views_api/volunteers.py
Due: build server

Add actitivites and volunteering types from views to mentor roles page
  admin-frontend/api/backend/views/activities.ts
  admin-frontend/api/backend/views/volunteeringTypes.ts
  admin-frontend/components/shared/datagrid/datagridTypes.tsx
  admin-frontend/pages/mentorRoles.tsx
  baytree_app/users/migrations/0030_mentorrole_volunteeringtype.py
  baytree_app/users/models.py
  baytree_app/users/serializers.py
  baytree_app/views_api/activities.py
  baytree_app/views_api/associations.py
  baytree_app/views_api/sessions.py
  baytree_app/views_api/urls.py
  baytree_app/views_api/volunteeringTypes.py
Due: build admin-frontend, build server

Delete QuestionAndAnswer model
  baytree_app/baytree_app/urls.py
  baytree_app/questions_and_answers/admin.py
  baytree_app/questions_and_answers/constants.py
  baytree_app/questions_and_answers/migrations/0003_delete_questionandanswer.py
  baytree_app/questions_and_answers/models.py
  baytree_app/questions_and_answers/permissions.py
  baytree_app/questions_and_answers/serializers.py
  baytree_app/questions_and_answers/urls.py
  baytree_app/questions_and_answers/views.py
Due: build server

Finish post session endpoint
  admin-frontend/components/shared/datagrid/datagrid.tsx
  baytree_app/views_api/associations.py
  baytree_app/views_api/sessions.py
Due: build admin-frontend, build server

Add venues endpoint
  baytree_app/views_api/urls.py
  baytree_app/views_api/venues.py
Due: build server

Update venues endpoint to include venue id
  baytree_app/views_api/venues.py
Due: build server

Remove data privacy consent from custom user login token
  baytree_app/baytree_app/views.py
Due: build server

Add data privacy consent to mentor model and remove from custom user model
  baytree_app/users/migrations/0029_auto_20220602_1945.py
  baytree_app/users/models.py
Due: build server

Add time of data privacy consent to creation of mentor user object
  baytree_app/users/views.py
Due: build server

Remove login modal
  frontend/src/Components/Login.tsx
Due: build frontend

Add create account modal to ask user data privacy consent
  frontend/src/Components/shared/CreateAccountModal.tsx
Due: build frontend

Add create account modal to create account
  frontend/src/Components/CreateAccount.tsx
Due: build frontend

Add non-hardcoded session creation to mentor portal. Refactor endpoints, permissions, and code.
  admin-frontend/api/backend/views/participants.ts
  admin-frontend/api/backend/views/sessions.ts
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/menteeDemographicsCard.tsx
  admin-frontend/components/pages/home/sessionStatsCard.tsx
  baytree_app/sessions/permissions.py
  baytree_app/views_api/associations.py
  baytree_app/views_api/participants.py
  baytree_app/views_api/sessions.py
  baytree_app/views_api/urls.py
  baytree_app/views_api/util.py
  frontend/src/Components/sessions/Sessions.tsx
  frontend/src/Components/sessions/hooks/useMentees.ts
  frontend/src/Components/sessions/hooks/useVenues.ts
  frontend/src/Components/sessions/session.ts
  frontend/src/api/views.ts
Due: build frontend, build admin-frontend, build server

Create reusable global hooks and decouple data layer from UI
  frontend/src/Components/sessions/Containers.tsx
  frontend/src/Components/sessions/Sessions.tsx
  frontend/src/Components/sessions/hooks/useMentees.ts
  frontend/src/Components/sessions/hooks/useVenues.ts
  frontend/src/Components/sessions/session.ts
  frontend/src/hooks/useMentees.ts
  frontend/src/hooks/useVenues.ts
Due: build frontend

Update association documentation
  baytree_app/views_api/associations.py
Due: build server

Remove unnecessary imports in associations
  baytree_app/views_api/associations.py
Due: build server

Revert initial data changes
  frontend/src/Components/sessions/Sessions.tsx
  frontend/src/Components/sessions/session.ts
Due: build frontend

Use the real questionnaire data
  baytree_app/questionnaires/views.py
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend, build server

Make ChoiceQuestion and TextQuestion more robust
  frontend/src/Components/questionnaire/ChoiceQuestion.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/Components/questionnaire/TextQuestion.tsx
Due: build frontend

Refactor create session page, add messages
  frontend/src/Components/sessions/Sessions.tsx
  frontend/src/Components/sessions/session.ts
  frontend/src/hooks/useMentees.ts
  frontend/src/hooks/useVenues.ts
Due: build frontend

Add endpoints for fetching the mentor profile
  baytree_app/views_api/urls.py
  baytree_app/views_api/volunteers.py
Due: build server
