Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

build frontend:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - cd frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
  - docker
  before_script:
  - cd admin-frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run export
  after_script:
  - ls -l admin-frontend
  - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: mariadb:5.5
    alias: test_mysql
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ''
  ...

fixing the bug in sessions page
  frontend/src/Components/Sessions.tsx
Due: build frontend

fixing the comment mistake
  baytree_app/users/views.py
Due: build server

export mentors goals as csv from admin portal
  admin-frontend/components/shared/Navbar/sidebarLinks.tsx
  admin-frontend/package.json
  admin-frontend/pages/goals.tsx
  baytree_app/goals/serializers.py
  baytree_app/goals/views.py
  baytree_app/notifications/views.py
  frontend/src/Components/Goals.tsx
  frontend/src/Components/Navigation.tsx
Due: build frontend, build admin-frontend, build server

fixing pipeline errors
  admin-frontend/package-lock.json
  frontend/src/Components/Goals.tsx
Due: build frontend, build admin-frontend

updating sideBarLinks file
  admin-frontend/components/shared/Navbar/sidebarLinks.tsx
Due: build admin-frontend

fixing ser. problem
  baytree_app/goals/serializers.py
  baytree_app/goals/views.py
  frontend/src/Components/CreateGoals.tsx
Due: build frontend, build server

fixing the formate with session time
  frontend/src/Components/Sessions.tsx
Due: build frontend

fixing the time formate for clockin
  frontend/src/Components/Sessions.tsx
Due: build frontend

addressing review comments
  admin-frontend/pages/goals.tsx
Due: build admin-frontend

Remove expected sessions from backend and admin portal
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SettingsModal.tsx
  baytree_app/sessions/migrations/0006_delete_monthlyexpectedsessioncounts.py
  baytree_app/sessions/models.py
  baytree_app/sessions/serializers.py
  baytree_app/sessions/urls.py
  baytree_app/sessions/views.py
Due: build admin-frontend, build server

Add cancelled field to MentorSession Model
  baytree_app/sessions/migrations/0007_mentorsession_wascancelled.py
  baytree_app/sessions/migrations/0008_rename_wascancelled_mentorsession_cancelled.py
  baytree_app/sessions/models.py
Due: build server

Make session model link to views session and create django session endpoints in admin portal
  admin-frontend/api/backend/sessions.ts
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  baytree_app/sessions/migrations/0009_mentorsession_viewssessionid.py
  baytree_app/sessions/models.py
Due: build admin-frontend, build server

using moment library to get time format
  frontend/src/Components/Sessions.tsx
Due: build frontend

Update admin frontend session endpoints
  admin-frontend/api/backend/sessions.ts
  admin-frontend/api/backend/views/sessions.ts
Due: build admin-frontend

Add expandable row support to shared datagrid
  admin-frontend/components/shared/datagrid.tsx
Due: build admin-frontend

Get mentors from backend and volunteers views and merge them
  admin-frontend/pages/home.tsx
Due: build admin-frontend

Add session statuses and expandable session notes
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionsModal.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
Due: build admin-frontend

Add cancelled and views person id fields to session model
  baytree_app/sessions/migrations/0010_alter_mentorsession_cancelled.py
  baytree_app/sessions/migrations/0011_alter_mentorsession_cancelled.py
  baytree_app/sessions/models.py
  baytree_app/sessions/serializers.py
Due: build server

adding validator to the note textbox
  frontend/src/Components/Sessions.tsx
Due: build frontend

Add search by mentor name or email box, add email
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  admin-frontend/pages/home.tsx
Due: build admin-frontend

Fix select options z-index issue
  admin-frontend/components/shared/paginatedSelect.tsx
Due: build admin-frontend

Fix select overlapping the top nav bar
  admin-frontend/components/shared/paginatedSelect.tsx
Due: build admin-frontend

Fix bugs, make default modal size bigger
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/pages/mentors/addMentorModal.tsx
  admin-frontend/components/shared/Modal.tsx
  admin-frontend/components/shared/Navbar/sidebar.tsx
  admin-frontend/components/shared/Navbar/sidebarLinks.tsx
  admin-frontend/components/shared/Navbar/topbar.tsx
  admin-frontend/components/shared/Navbar/topbarActions.tsx
Due: build admin-frontend

Fix Rechart slow resizing errors, remove animations
  admin-frontend/components/pages/home/menteeDemographicsCard.tsx
  admin-frontend/components/pages/home/mentorDemographicsCard.tsx
  admin-frontend/components/pages/home/sessionStatsCard.tsx
Due: build admin-frontend

Fix layouts, add alternate row color, make mobile friendly
  admin-frontend/components/pages/home/MentorQuestionnaireTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  admin-frontend/components/pages/mentors/addMentorModal.tsx
  admin-frontend/components/shared/Modal.tsx
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/pages/home.tsx
Due: build admin-frontend

Update styling of pager and datagrid
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/components/shared/pager.tsx
Due: build admin-frontend

Attempt to fix pipeline errors and minor cosmetic changes
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/shared/datagrid.tsx
  baytree_app/sessions/migrations/0005_monthlyexpectedsessioncounts.py
  baytree_app/sessions/migrations/0006_delete_monthlyexpectedsessioncounts.py
  baytree_app/sessions/migrations/0006_mentorsession.py
  baytree_app/sessions/migrations/0007_mentorsession_wascancelled.py
  baytree_app/sessions/migrations/0008_rename_wascancelled_mentorsession_cancelled.py
  baytree_app/sessions/migrations/0009_mentorsession_viewssessionid.py
  baytree_app/sessions/migrations/0010_alter_mentorsession_cancelled.py
  baytree_app/sessions/migrations/0011_alter_mentorsession_cancelled.py
Due: build admin-frontend, build server

Add code formatter
  frontend/.prettierrc.json
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Reformat the code with Prettier
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/Components/CreateAccount.tsx
  frontend/src/Components/CreateGoals.tsx
  frontend/src/Components/Dashboard.tsx
  frontend/src/Components/Goals.tsx
  frontend/src/Components/GoalsList.tsx
  frontend/src/Components/GoalsStatistics.tsx
  frontend/src/Components/Home.tsx
  frontend/src/Components/Login.tsx
  frontend/src/Components/MenteeInfo.tsx
  frontend/src/Components/Messages.tsx
  frontend/src/Components/Navigation.tsx
  frontend/src/Components/Notification.tsx
  frontend/src/Components/Profile.tsx
  frontend/src/Components/Questionnaire.tsx
  frontend/src/Components/Records.tsx
  frontend/src/Components/ResetPassword.tsx
  frontend/src/Components/Scheduler.tsx
  frontend/src/Components/Sessions.tsx
  frontend/src/Components/Statistics.tsx
  frontend/src/Utils/Holidays.ts
  frontend/src/Utils/PrivateRoute.tsx
  frontend/src/Utils/PublicRoute.tsx
  frontend/src/Utils/password.tsx
  frontend/src/Utils/retreiveProfile.tsx
  frontend/src/api/auth.ts
  frontend/src/api/mentorAccount.ts
  frontend/src/api/url.ts
  frontend/src/constants/constants.ts
  frontend/src/index.tsx
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
Due: build frontend

Migrate to react-router v6
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Components/CreateAccount.tsx
  frontend/src/Components/CreateGoals.tsx
  frontend/src/Components/Login.tsx
  frontend/src/Components/Navigation.tsx
  frontend/src/Components/ResetPassword.tsx
  frontend/src/Utils/PrivateRoute.tsx
  frontend/src/Utils/PublicRoute.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/hooks/useLocalStorage.ts
  frontend/src/index.tsx
  frontend/tsconfig.json
Due: build frontend

Refactor all routes
  frontend/src/App.tsx
  frontend/src/Components/Login.tsx
  frontend/src/Components/Logout.tsx
Due: build frontend

Clean up dependencies
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Create initial session group page layout and components
  admin-frontend/pages/sessionGroup.tsx
Due: build admin-frontend

Add mentor roles page and add editable selects to shared datagrid
  admin-frontend/components/shared/Navbar/sidebarLinks.tsx
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/pages/mentorRoles.tsx
  admin-frontend/pages/sessionGroup.tsx
Due: build admin-frontend

Fix routing for profile page
  frontend/src/App.tsx
Due: build frontend

Code reformat
  frontend/src/Components/Login.tsx
  frontend/src/Components/Navigation.tsx
  frontend/src/context/AuthContext.tsx
Due: build frontend

Fix imports
  frontend/src/Components/CreateAccount.tsx
  frontend/src/Components/Login.tsx
  frontend/src/Components/Navigation.tsx
  frontend/src/Components/ResetPassword.tsx
Due: build frontend

Fix warning in the Navigation page
  frontend/src/Components/Navigation.tsx
Due: build frontend

Add batch editing, preview changes, pk to datagrid
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Add promise to onSaveRows, loading spinner
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/components/shared/overlaySpinner.tsx
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml
