Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

build frontend:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - cd frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
  - docker
  before_script:
  - cd admin-frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run export
  after_script:
  - ls -l admin-frontend
  - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: mariadb:5.5
    alias: test_mysql
  tags:
  - docker
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ''
    EMAIL_PORT: ''
  ...

address comments
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

Refactor and add async support to ViewsAuthMiddleware
  baytree_app/baytree_app/middlewares/ViewsAuthMiddleware.py
Due: build server

Update all views_api endpoints
  baytree_app/views_api/activities.py
  baytree_app/views_api/associations.py
  baytree_app/views_api/participants.py
  baytree_app/views_api/questionnaires.py
  baytree_app/views_api/session_groups.py
  baytree_app/views_api/sessions.py
  baytree_app/views_api/urls.py
  baytree_app/views_api/venues.py
  baytree_app/views_api/volunteeringTypes.py
  baytree_app/views_api/volunteers.py
Due: build server

Slight update to submit_answers endpoint to make it testable
  baytree_app/requirements.txt
  baytree_app/views_api/questionnaires.py
Due: build server

Camel cased Name field of valuelist
  views_mock/admin_valuelists/migrations/0006_alter_valuelist_name.py
  views_mock/admin_valuelists/models.py
Due: none

Moved helper function to top
  views_mock/views_api/valuelists.py
Due: none

Remove comment from middleware
  baytree_app/baytree_app/middlewares/ViewsAuthMiddleware.py
Due: build server

add message for failing test cases
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

fix test case
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

create associations model and migrations
  views_mock/contacts/migrations/0002_association.py
  views_mock/contacts/models.py
Due: none

Addressed comment
  views_mock/admin_valuelists/migrations/0007_alter_valuelist_name.py
  views_mock/admin_valuelists/models.py
Due: none

Addressed comments
  views_mock/admin_valuelists/migrations/0008_alter_valuelist_name_alter_valuelist_type.py
  views_mock/admin_valuelists/models.py
  views_mock/views_api/urls.py
  views_mock/views_api/valuelists.py
Due: none

Refactored volunteer and mentoruser views
  baytree_app/views_api/urls.py
  baytree_app/views_api/volunteers.py
  shared-apps/users/urls.py
  shared-apps/users/views.py
Due: build server

Addressed comments
  views_mock/admin_valuelists/migrations/0009_alter_valuelist_name.py
  views_mock/admin_valuelists/models.py
  views_mock/views_api/urls.py
  views_mock/views_api/valuelists.py
Due: none

Addressed comment about refactoring parsing method
  baytree_app/views_api/activities.py
  baytree_app/views_api/util.py
  baytree_app/views_api/venues.py
  baytree_app/views_api/volunteeringTypes.py
Due: build server

Created note, sessionnote, and personnote
  views_mock/contacts/migrations/0002_note_sessionnote_participantnote.py
  views_mock/contacts/migrations/0003_delete_sessionnote.py
  views_mock/contacts/migrations/0004_personnote_delete_participantnote.py
  views_mock/contacts/models.py
  views_mock/views_sessions/migrations/0003_sessionnote.py
  views_mock/views_sessions/models.py
Due: none

revert changes to docker compose
  docker-compose.override.yml
Due: none

change master and slave ids to be person ids
  views_mock/contacts/models.py
Due: none

make migrations for contacts app
  views_mock/contacts/migrations/0003_alter_association_masterid_alter_association_slaveid.py
Due: none

Sneaking in a fix for mock views authentication
  baytree_app/baytree_app/middlewares/ViewsAuthMiddleware.py
  views_mock/views_mock/auth_class.py
Due: build server

Use foreignkey restraint and add a constraint to prevent adding association between the same IDs
  views_mock/contacts/migrations/0004_alter_association_masterid_alter_association_slaveid.py
  views_mock/contacts/migrations/0005_association_master_slave_not_equal.py
  views_mock/contacts/migrations/0006_alter_association_description_and_more.py
  views_mock/contacts/models.py
Due: none

set labels for master and slave ids
  views_mock/contacts/migrations/0007_alter_association_masterid_alter_association_slaveid.py
  views_mock/contacts/models.py
Due: none

Refactor join_views_volunteers_to_mentor_users
  baytree_app/views_api/volunteers.py
Due: build server

Fix pagination for mentors endpoint and update frontend
  admin-frontend/api/backend/mentorUsers.ts
  admin-frontend/pages/home.tsx
  admin-frontend/pages/mentors.tsx
  baytree_app/views_api/volunteers.py
Due: build admin-frontend, build server

Addressed comments
  views_mock/views_api/urls.py
  views_mock/views_api/valuelists.py
Due: none

remove uneccessary logging script
  baytree_app/baytree_app/testing/test_failure_log.py
Due: build server

Fix error when limit key is None and revert default limit to 5 in mentors.tsx
  admin-frontend/pages/mentors.tsx
  baytree_app/views_api/volunteers.py
Due: build admin-frontend, build server

fix: removed duplicate views env variables
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/constants.py
  baytree_app/baytree_app/settings.py
  baytree_app/notifications/constants.py
  baytree_app/views_api/constants.py
  baytree_app/views_api/sessions.py
Due: build server

fix: changed base urls
  baytree_app/baytree_app/settings.py
Due: build server

fix: mr issues
  baytree_app/baytree_app/settings.py
Due: build server

Import VIEWS constants from a single, top-level constants.py
  baytree_app/baytree_app/settings.py
  baytree_app/constants.py
  baytree_app/emails/constants.py
  baytree_app/notifications/tasks/missing_questionnaires.py
  baytree_app/views_api/activities.py
  baytree_app/views_api/associations.py
  baytree_app/views_api/constants.py
  baytree_app/views_api/participants.py
  baytree_app/views_api/questionnaires.py
  baytree_app/views_api/session_groups.py
  baytree_app/views_api/venues.py
  baytree_app/views_api/volunteeringTypes.py
Due: build server

Removed old endpoints
  views_mock/views_api/views.py
Due: none

Printed exception
  views_mock/views_api/questionnaires.py
Due: none

Removed unnecessary imports
  views_mock/views_api/questionnaires.py
Due: none

Fixed bug
  views_mock/views_api/questionnaires.py
Due: none

Query volunteers from db
  views_mock/views_api/urls.py
  views_mock/views_api/volunteers.py
Due: none

Add a volunteer view to views_mock
  views_mock/views_api/contacts.py
Due: none

Refactor and specify renderer type
  baytree_app/views_api/participants.py
  baytree_app/views_api/volunteers.py
  views_mock/requirements.txt
  views_mock/views_api/contacts.py
  views_mock/views_api/urls.py
  views_mock/views_api/volunteers.py
Due: build server

feat: added data migration for session groups
  views_mock/views_sessions/migrations/0003_auto_20230412_2043.py
Due: none

create new CI-CD process for fluent logger tests
  .gitlab-ci.yml
  baytree_app/baytree_app/testing/test_failed_log.py
Due: build frontend, build admin-frontend, build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml
