Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

build frontend:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - cd frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
  - docker
  before_script:
  - cd admin-frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run export
  after_script:
  - ls -l admin-frontend
  - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: mariadb:5.5
    alias: test_mysql
  tags:
  - docker
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ''
    EMAIL_PORT: ''
  ...

Changed isRequestReceived to isRequestReceivedLog
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

add cancel button in goal dialog
  frontend/src/Components/goals/GoalDialog.tsx
Due: build frontend

Converted existing middleware into logging middleware
  baytree_app/baytree_app/middleware.py
  baytree_app/baytree_app/settings.py
Due: build server

Deleted outdated and commented test lines
  baytree_app/resources/views.py
Due: build server

Removed questions_and_answers app
  baytree_app/baytree_app/settings.py
  baytree_app/questions_and_answers/__init__.py
  baytree_app/questions_and_answers/admin.py
  baytree_app/questions_and_answers/apps.py
  baytree_app/questions_and_answers/migrations/0001_initial.py
  baytree_app/questions_and_answers/migrations/0002_remove_questionandanswer_questionnaire.py
  baytree_app/questions_and_answers/migrations/0003_delete_questionandanswer.py
  baytree_app/questions_and_answers/migrations/__init__.py
  baytree_app/questions_and_answers/models.py
  baytree_app/questions_and_answers/tests.py
  baytree_app/questions_and_answers/urls.py
  baytree_app/questions_and_answers/views.py
Due: build server

Added back relavant part of comment
  baytree_app/resources/views.py
Due: build server

Revert "Removed questions_and_answers app"
  baytree_app/baytree_app/settings.py
  baytree_app/questions_and_answers/__init__.py
  baytree_app/questions_and_answers/admin.py
  baytree_app/questions_and_answers/apps.py
  baytree_app/questions_and_answers/migrations/0001_initial.py
  baytree_app/questions_and_answers/migrations/0002_remove_questionandanswer_questionnaire.py
  baytree_app/questions_and_answers/migrations/0003_delete_questionandanswer.py
  baytree_app/questions_and_answers/migrations/__init__.py
  baytree_app/questions_and_answers/models.py
  baytree_app/questions_and_answers/tests.py
  baytree_app/questions_and_answers/urls.py
  baytree_app/questions_and_answers/views.py
Due: build server

Deleted files other than migrations
  baytree_app/questions_and_answers/__init__.py
  baytree_app/questions_and_answers/admin.py
  baytree_app/questions_and_answers/apps.py
  baytree_app/questions_and_answers/models.py
  baytree_app/questions_and_answers/tests.py
  baytree_app/questions_and_answers/urls.py
  baytree_app/questions_and_answers/views.py
Due: build server

Added logging for calendar event edit and delete
  baytree_app/calendar_events/views.py
Due: build server

Addressed comments
  baytree_app/calendar_events/views.py
Due: build server

format fluent logging handler class
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

add default message to request and response logs
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

make fluent logging handler more extensive
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

update the test plan for testing out logs
  baytree_app/resources/views.py
Due: build server

add info method for request and response in fluent logging handler
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/resources/views.py
Due: build server

update calls to logger
  baytree_app/calendar_events/views.py
Due: build server

Pushed logs to Grafana
  docker-compose.yml
  fluent-bit/fluent-bit.conf
Due: none

remove uneccessary variables from log methods
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

Updated readme with environment variables
  README.md
Due: none

Updated readme to read better
  README.md
Due: none

update comments for testing logger
  baytree_app/resources/views.py
Due: build server

update logging calls to use the appropriate methods
  baytree_app/calendar_events/views.py
Due: build server

update fluent logging class to use static methods
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

update test comments and calendar_events/views.py to use static methods
  baytree_app/calendar_events/views.py
  baytree_app/resources/views.py
Due: build server

Pushed logs to cloudwatch
  docker-compose.yml
  fluent-bit/fluent-bit.conf
Due: none

Updated readme
  README.md
Due: none

fix static methods and calls to these methods
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/middleware.py
Due: build server

Added various fluent bit files and updated docker-compose
  docker-compose.yml
  fluent-bit/filters/json-filter.conf
  fluent-bit/fluent-bit-dev.conf
  fluent-bit/fluent-bit-local.conf
  fluent-bit/fluent-bit-prod.conf
  fluent-bit/fluent-bit-stag.conf
  fluent-bit/fluent-bit.conf
  fluent-bit/inputs/http-input.conf
  fluent-bit/inputs/tail-input.conf
  fluent-bit/inputs/tcp-input.conf
  fluent-bit/outputs/cloudwatch-output.conf
  fluent-bit/outputs/loki-grafana-output.conf
  fluent-bit/outputs/stdout-output.conf
Due: none

format file
  baytree_app/users/views.py
Due: build server

initialize sessions_remaining to zero
  baytree_app/users/views.py
Due: build server

create separate static method for views request logs
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

Added environment varibles for grafana and aws
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

Remove all vestiges of node server
  docker-compose.override.yml
  mock-views-app/.eslintrc.json
  mock-views-app/.prettierrc.json
  mock-views-app/Dockerfile
  mock-views-app/package-lock.json
  mock-views-app/package.json
  mock-views-app/server.ts
  mock-views-app/tsconfig.json
Due: none

Create a baseline mock_views app
  baytree_app/baytree_app/settings.py
  baytree_app/sessions/views.py
  baytree_app/views_api/constants.py
  docker-compose.override.yml
  docker-compose.yml
  views_mock/Dockerfile
  views_mock/manage.py
  views_mock/requirements.txt
  views_mock/views_mock/__init__.py
  views_mock/views_mock/asgi.py
  views_mock/views_mock/settings.py
  views_mock/views_mock/urls.py
  views_mock/views_mock/views.py
  views_mock/views_mock/wsgi.py
Due: build server

Connect views-mock to MySQL database and return a response based on user permissions
  baytree_app/views_api/volunteeringTypes.py
  docker-compose.yml
  views_mock/users/__init__.py
  views_mock/users/admin.py
  views_mock/users/managers.py
  views_mock/users/models.py
  views_mock/users/permissions.py
  views_mock/views_api/views.py
  views_mock/views_mock/settings.py
Due: build server

Mock volunteeringTypes endpoint
  admin-frontend/pages/mentorRoles.tsx
  baytree_app/baytree_app/constants.py
  baytree_app/baytree_app/settings.py
  baytree_app/notifications/constants.py
  baytree_app/views_api/constants.py
  baytree_app/views_api/volunteeringTypes.py
  views_mock/requirements.txt
  views_mock/users/__init__.py
  views_mock/users/admin.py
  views_mock/users/apps.py
  views_mock/users/constants.py
  views_mock/users/management/commands/seedadminuser.py
  views_mock/users/managers.py
  views_mock/users/models.py
  views_mock/users/permissions.py
  views_mock/users/serializers.py
  views_mock/users/tests.py
  views_mock/users/urls.py
  views_mock/users/views.py
  views_mock/views_mock/auth_class.py
  views_mock/views_mock/settings.py
  views_mock/views_mock/urls.py
  views_mock/views_mock/views.py
Due: build admin-frontend, build server

Make views-mock depends depend on other containers and remove unnecessary logs
  admin-frontend/pages/mentorRoles.tsx
  baytree_app/baytree_app/auth_class.py
  baytree_app/baytree_app/constants.py
  baytree_app/baytree_app/settings.py
  baytree_app/notifications/constants.py
  docker-compose.yml
  views_mock/views_mock/auth_class.py
  views_mock/views_mock/settings.py
  views_mock/views_mock/urls.py
  views_mock/views_mock/views.py
Due: build admin-frontend, build server

Allow authentication on the mock views app side
  baytree_app/baytree_app/auth_class.py
  baytree_app/baytree_app/settings.py
  baytree_app/views_api/constants.py
  baytree_app/views_api/volunteeringTypes.py
  docker-compose.override.yml
  docker-compose.yml
  views_mock/requirements.txt
  views_mock/users/admin.py
  views_mock/users/constants.py
  views_mock/users/management/commands/seedadminuser.py
  views_mock/users/managers.py
  views_mock/users/models.py
  views_mock/users/permissions.py
  views_mock/users/serializers.py
  views_mock/users/urls.py
  views_mock/users/views.py
  views_mock/views_api/__init__.py
  views_mock/views_api/admin.py
  views_mock/views_api/apps.py
  views_mock/views_api/migrations/__init__.py
  views_mock/views_api/models.py
  views_mock/views_api/tests.py
  views_mock/views_api/urls.py
  views_mock/views_api/views.py
  views_mock/views_mock/auth_class.py
  views_mock/views_mock/settings.py
  views_mock/views_mock/urls.py
  views_mock/views_mock/views.py
Due: build server

Set views base url as an environment variable and update README
  README.md
  baytree_app/baytree_app/constants.py
  baytree_app/baytree_app/settings.py
  baytree_app/notifications/constants.py
  baytree_app/views_api/constants.py
Due: build server

Set default base url
  baytree_app/baytree_app/constants.py
  baytree_app/notifications/constants.py
  baytree_app/views_api/constants.py
Due: build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml
