Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml

Add logging path to api patterns
  admin-frontend/api/backend/logging.ts
Due: build admin-frontend

Finish backend logging POST
  baytree_app/app_logging/views.py
Due: build server

Remove unneeded loglevel dependencies and add axios dependency
  admin-frontend/package-lock.json
  admin-frontend/package.json
Due: build admin-frontend

Remove unneeded loglevel dependencies
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Update logging path for url patterns
  baytree_app/app_logging/urls.py
Due: build server

Add logging path to api patterns
  baytree_app/baytree_app/urls.py
Due: build server

Finish frontend logging module
  frontend/src/api/logging.ts
Due: build frontend

Finish admin-frontend logging module
  admin-frontend/api/backend/logging.ts
Due: build admin-frontend

Remove unnecessary loglevel d.ts file
  frontend/src/logging.d.ts
Due: build frontend

Update formatting for log message
  baytree_app/app_logging/views.py
Due: build server

Add file logging for log levels WARNING and higher
  baytree_app/baytree_app/settings.py
Due: build server

Remove trailing comma so "filename" is not coverted into a tuple
  baytree_app/baytree_app/settings.py
Due: build server

Rename logging directory to circumvent React "logs" inclusion in .gitignore
  baytree_app/baytree_app/settings.py
Due: build server

Add .gitkeep file to commit empty logging directory
  baytree_app/server_logs/.gitkeep
Due: build server

Fix installed apps merge conflict
  baytree_app/baytree_app/settings.py
Due: build server

Create extraction function to extract information for error logging
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Add detailed logging message for volunteer questionnaire submission error
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Remove month filter, ignore Django sessions
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
Due: build admin-frontend

Update aggregation code to use Months
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  admin-frontend/pages/home.tsx
Due: build admin-frontend

Refactor aggregation and sorting code
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  admin-frontend/pages/home.tsx
Due: build admin-frontend

Update more code to accomodate views only sessions
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionsModal.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
Due: build admin-frontend

Upgrade Django version from 3.2.11 to 3.2.14 to circumvent potential subjectivity to SQL injection security issue
  baytree_app/requirements.txt
Due: build server

Finish function to extract important questionnaire information for server side logging
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Change formatting to allow for nicer looking serverside error logs
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Remove mentee from goals
  baytree_app/goals/migrations/0010_remove_goal_mentee_id.py
  baytree_app/goals/models.py
  baytree_app/goals/permissions.py
  baytree_app/goals/serializers.py
  baytree_app/goals/views.py
Due: build server

Remove mentees from goals in frontend
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/goals/GoalExportButton.tsx
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/api/goals.ts
Due: build frontend

Add goal options
  baytree_app/goals/fixtures/goalOptions.json
  baytree_app/goals/migrations/0011_auto_20220712_2055.py
  baytree_app/goals/models.py
Due: build server

Update goal serializer
  baytree_app/goals/serializers.py
Due: build server

Fetch goal options
  baytree_app/goals/fixtures/goalOptions.json
  baytree_app/goals/serializers.py
  baytree_app/goals/urls.py
  baytree_app/goals/views.py
Due: build server

Support goal categories for goal API
  baytree_app/goals/views.py
Due: build server

Create checkboxes for goal categories
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/api/goals.ts
  frontend/src/hooks/useGoals.ts
Due: build frontend

Rename models
  baytree_app/goals/fixtures/goalCategories.json
  baytree_app/goals/migrations/0011_auto_20220712_2347.py
  baytree_app/goals/models.py
  baytree_app/goals/serializers.py
  baytree_app/goals/urls.py
  baytree_app/goals/views.py
Due: build server

Display goal categories
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/api/goals.ts
Due: build frontend

Change caddy dockerfile to explicity copy and unpack front-end archives
  caddy/Dockerfile
Due: none

Docker hub build triggered on web-triggered manual pipeline run
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

Check if reboot required in during server install
  scripts/setup_production.sh
Due: none

Rename Mentor Roles to Settings and Events to Calendar in side bar
  admin-frontend/components/shared/Navbar/sidebarLinks.tsx
Due: build admin-frontend

Rename card title to Calendar Events
  admin-frontend/pages/calendarEvents.tsx
Due: build admin-frontend

Rename card title to Settings
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Reinsert mentee for goals
  baytree_app/goals/migrations/0012_goal_mentee_id.py
  baytree_app/goals/models.py
  baytree_app/goals/serializers.py
Due: build server
