Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml

Rename holidays module to calendar_events
  admin-frontend/pages/calendarEvents.tsx
  baytree_app/calendar_events/__init__.py
  baytree_app/calendar_events/admin.py
  baytree_app/calendar_events/apps.py
  baytree_app/calendar_events/migrations/0001_initial.py
  baytree_app/calendar_events/migrations/0002_rename_holidays_holiday.py
  baytree_app/calendar_events/migrations/0003_holiday_note.py
  baytree_app/calendar_events/migrations/0004_rename_holiday_calendarevent.py
  baytree_app/calendar_events/migrations/__init__.py
  baytree_app/calendar_events/models.py
  baytree_app/calendar_events/serializers.py
  baytree_app/calendar_events/tests.py
  baytree_app/calendar_events/urls.py
  baytree_app/calendar_events/views.py
Due: build admin-frontend, build server

Initialize new data rows with false boolean fields
  admin-frontend/components/shared/datagrid/hooks/useDataLogic.tsx
Due: build admin-frontend

Add dependencies for loglevel and loglevel-plugin-remote
  admin-frontend/package-lock.json
  admin-frontend/package.json
Due: build admin-frontend

Create logging app for backend
  baytree_app/app_logging/__init__.py
  baytree_app/app_logging/admin.py
  baytree_app/app_logging/apps.py
  baytree_app/app_logging/migrations/__init__.py
  baytree_app/app_logging/models.py
  baytree_app/app_logging/tests.py
  baytree_app/app_logging/views.py
Due: build server

Create frontend logging module
  admin-frontend/api/backend/logging.ts
Due: build admin-frontend

Small adjustments
  baytree_app/records/views.py
  baytree_app/views_api/sessions.py
Due: build server

Fix typos
  admin-frontend/pages/goals.tsx
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/api/goals.ts
Due: build frontend, build admin-frontend

Informative error messages
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/goals/Goals.tsx
Due: build frontend

Create venues model and serializer
  baytree_app/sessions/models.py
  baytree_app/sessions/serializers.py
Due: build server

Find and replace
  frontend/src/Components/goals/GoalDialog.tsx
Due: build frontend

Remove redudant pagination class
  baytree_app/goals/views.py
Due: build server

Create Batch CRUD Venue API, refactor BatchRestViewSet
  baytree_app/baytree_app/views.py
  baytree_app/sessions/models.py
  baytree_app/sessions/serializers.py
  baytree_app/sessions/views.py
  baytree_app/users/views.py
Due: build server

Add endpoint urls and admin portal venue service methods
  admin-frontend/api/backend/sessions.ts
  baytree_app/sessions/urls.py
Due: build admin-frontend, build server

Create Venues Page
  admin-frontend/api/backend/views/venues.ts
  admin-frontend/components/shared/Navbar/sidebarLinks.tsx
  admin-frontend/pages/venues.tsx
Due: build admin-frontend

Add venues mentor portal service methods, update venues hook for allowed venues
  frontend/src/api/misc.ts
  frontend/src/api/views.ts
  frontend/src/hooks/useVenues.ts
Due: build frontend

Fix issues with frontend when primary key is editable
  admin-frontend/pages/venues.tsx
  baytree_app/sessions/migrations/0010_venue.py
Due: build admin-frontend, build server

Remove mentors datagrid add button
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/pages/mentors.tsx
Due: build admin-frontend

Restore session service methods
  admin-frontend/api/backend/sessions.ts
Due: build admin-frontend

Create logging module for frontend
  frontend/src/api/logging.ts
Due: build frontend

Add dependencies for loglevel and loglevel-plugin-remote
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Create url pattern for logging
  baytree_app/app_logging/urls.py
Due: build server

Update code documentation/comments
  baytree_app/baytree_app/views.py
Due: build server

Update serializer documentation
  baytree_app/baytree_app/serializers.py
Due: build server

Update shared datagrid to handle multiselect
  admin-frontend/components/shared/datagrid/datagridSelectComponent.tsx
Due: build admin-frontend

Separate mentor role activity into separate table
  baytree_app/users/migrations/0033_auto_20220627_1959.py
  baytree_app/users/models.py
Due: build server

Change mentor roles page and types to support multiple activities
  admin-frontend/api/backend/mentorRoles.ts
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Fix initial mutliselect bug in shared datagrid
  admin-frontend/components/shared/datagrid/datagridSelectComponent.tsx
Due: build admin-frontend

Allow retrieving and saving list of activities via mentor-roles endpoint
  baytree_app/users/serializers.py
Due: build server

Declare loglevel plugin remote module for logging
  admin-frontend/logging.d.ts
  frontend/src/logging.d.ts
Due: build frontend, build admin-frontend

Enable all log types and add timestamp to log format
  admin-frontend/api/backend/logging.ts
  frontend/src/api/logging.ts
Due: build frontend, build admin-frontend

Create POST functionality for logging
  baytree_app/app_logging/views.py
Due: build server

Add endpoint to get activities for a mentor's mentor role
  baytree_app/users/urls.py
  baytree_app/users/views.py
Due: build server

Add service methods and hooks for activities in mentor portal
  frontend/src/api/misc.ts
  frontend/src/hooks/useActivities.ts
Due: build frontend

Update post session endpoint in backend to accept activity in request
  baytree_app/views_api/sessions.py
Due: build server

Update create session page to allow and save selected activity
  frontend/src/Components/sessions/Containers.tsx
  frontend/src/Components/sessions/Sessions.tsx
  frontend/src/Components/sessions/session.ts
Due: build frontend

Fix typescript error
  admin-frontend/components/shared/datagrid/datagridCell.tsx
Due: build admin-frontend

Update package lock
  admin-frontend/package-lock.json
Due: build admin-frontend

Rename from 'holiday' to 'specialEvent'
  frontend/src/Components/home/Scheduler.tsx
  frontend/src/Components/records/SpecialEventDetail.tsx
  frontend/src/api/misc.ts
  frontend/src/hooks/useSpecialEvents.ts
Due: build frontend

Sticky table footer
  frontend/src/Components/records/RecordRow.tsx
  frontend/src/Components/records/Records.tsx
Due: build frontend

Intercept record API
  frontend/src/Utils/PrivateRoute.tsx
  frontend/src/api/records.ts
Due: build frontend
