Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

build frontend:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - cd frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
  - docker
  before_script:
  - cd admin-frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run export
  after_script:
  - ls -l admin-frontend
  - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: mariadb:5.5
    alias: test_mysql
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ''
  ...

Fix bug with changing select values in datagrid
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Fix action button not showing datagrid bug
  admin-frontend/components/shared/datagrid.tsx
Due: build admin-frontend

Load session group options from views, fix rerending bug with selects
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Add asynchronous select options loading and spinner
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Use wave skeletons instead of spinner for more visual appeal
  admin-frontend/components/shared/datagrid.tsx
Due: build admin-frontend

Create REST API endpoints/model/data migrations for activities
  baytree_app/sessions/migrations/0006_activity.py
  baytree_app/sessions/migrations/0007_alter_activity_name.py
  baytree_app/sessions/migrations/0008_initial_data.py
  baytree_app/sessions/models.py
  baytree_app/sessions/serializers.py
  baytree_app/sessions/urls.py
  baytree_app/sessions/views.py
Due: build server

Add activities GET service method, return id vs. url in serializer
  admin-frontend/api/backend/activities.ts
  baytree_app/sessions/serializers.py
Due: build admin-frontend, build server

Refactor code and remove illegal DOM nesting
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/pages/mentorRoles.tsx
  baytree_app/sessions/models.py
Due: build admin-frontend, build server

Add Mentor roles REST API/Tables
  admin-frontend/components/shared/datagrid.tsx
  baytree_app/sessions/migrations/0008_initial_data.py
  baytree_app/sessions/views.py
  baytree_app/users/migrations/0022_mentorrole.py
  baytree_app/users/migrations/0023_add_initial_data.py
  baytree_app/users/models.py
  baytree_app/users/serializers.py
  baytree_app/users/urls.py
  baytree_app/users/views.py
Due: build admin-frontend, build server

Add font and theme for the whole application
  frontend/src/Utils/theme.ts
  frontend/src/index.css
  frontend/src/index.tsx
Due: build frontend

Add mentor roles frontend service, async data load option for shared datagrid
  admin-frontend/api/backend/mentorRoles.ts
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Use reposnsive dashboard layout
  frontend/src/App.tsx
  frontend/src/Components/dashboard/Dashboard.tsx
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/dashboard/SideMenu.tsx
Due: build frontend

fetch notifications in Navigation Bar
  frontend/src/Components/dashboard/NavigationBar.tsx
Due: build frontend

Remove the duplicated drawer
  frontend/src/Components/dashboard/SideMenu.tsx
Due: build frontend

Delete old layout file
  frontend/src/Components/Dashboard.tsx
  frontend/src/Components/Navigation.tsx
Due: build frontend

Code reformatting
  frontend/src/App.tsx
  frontend/src/Components/dashboard/Dashboard.tsx
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/dashboard/SideMenu.tsx
  frontend/src/Utils/theme.ts
  frontend/src/index.tsx
Due: build frontend

Move questionnaire page to separate directory
  frontend/src/App.tsx
  frontend/src/Components/questionnaires/Questionnaire.tsx
Due: build frontend

Prettier
  frontend/src/Components/dashboard/Dashboard.tsx
  frontend/src/Components/dashboard/SideMenu.tsx
Due: build frontend

Refactor questionnaire by using Formik
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/questionnaires/LoadingScreen.tsx
  frontend/src/Components/questionnaires/QuestionField.tsx
  frontend/src/Components/questionnaires/Questionnaire.tsx
  frontend/src/Components/questionnaires/question.ts
Due: build frontend

Refactor validation to questionnaire
  frontend/src/Components/questionnaires/QuestionField.tsx
  frontend/src/Components/questionnaires/Questionnaire.tsx
  frontend/src/Components/questionnaires/question.ts
Due: build frontend

Adjust spacing of choice question
  frontend/src/Components/questionnaires/QuestionField.tsx
Due: build frontend

Prettier
  frontend/src/Components/questionnaires/LoadingScreen.tsx
  frontend/src/Components/questionnaires/QuestionField.tsx
  frontend/src/Components/questionnaires/Questionnaire.tsx
  frontend/src/Components/questionnaires/question.ts
Due: build frontend

Remove dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/questionnaires/QuestionField.tsx
Due: build frontend

Aplly theme to button
  frontend/src/Components/Login.tsx
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Utils/theme.ts
Due: build frontend

Add toasts to questionnaire
  frontend/src/App.tsx
  frontend/src/Components/questionnaire/LoadingScreen.tsx
  frontend/src/Components/questionnaire/QuestionField.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/Components/questionnaire/question.ts
Due: build frontend

Code reformat
  frontend/src/App.tsx
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/dashboard/SideMenu.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/Components/questionnaire/question.ts
Due: build frontend

Allow batch creation and updating for mentor roles API
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/pages/mentorRoles.tsx
  baytree_app/users/serializers.py
  baytree_app/users/views.py
Due: build admin-frontend, build server

Fix bugs and implement saving in backend and datagrid
  admin-frontend/api/backend/mentorRoles.ts
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/pages/mentorRoles.tsx
  baytree_app/users/migrations/0024_alter_mentorrole_viewssessiongroupid.py
  baytree_app/users/models.py
  baytree_app/users/serializers.py
  baytree_app/users/views.py
Due: build admin-frontend, build server

Add comments and change names
  frontend/src/Utils/PrivateRoute.tsx
  frontend/src/Utils/PublicRoute.tsx
  frontend/src/context/AuthContext.tsx
Due: build frontend

Code reformat
  frontend/src/App.tsx
  frontend/src/Components/Navigation.tsx
  frontend/src/index.tsx
Due: build frontend

Add vite
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Change to vite configuration
  frontend/index.html
  frontend/package.json
  frontend/public/index.html
  frontend/src/api/url.ts
  frontend/src/react-app-env.d.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: build frontend

Remove react-scripts
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Add build configuration
  frontend/vite.config.ts
Due: build frontend

Implement saving, change tracking, fix bugs/logic
  admin-frontend/components/shared/datagrid.tsx
  baytree_app/users/migrations/0025_alter_mentorrole_activity.py
  baytree_app/users/models.py
  baytree_app/users/serializers.py
Due: build admin-frontend, build server

Fix memory leaks and no select rerender bug for datagrid
  admin-frontend/components/shared/datagrid.tsx
  admin-frontend/pages/mentors.tsx
Due: build admin-frontend

Make wrapper for backend calls, refresh token on 401
  admin-frontend/api/backend/activities.ts
  admin-frontend/api/backend/base.ts
  admin-frontend/api/backend/mentorRoles.ts
Due: build admin-frontend

Add vite configuration and API change
  frontend/src/api/url.ts
  frontend/vite.config.ts
Due: build frontend

Store email in the local storage
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/Utils/PublicRoute.tsx
  frontend/src/context/AuthContext.tsx
Due: build frontend

Restructure component files
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/Components/dashboard/Messages.tsx
  frontend/src/Components/dashboard/NavigationBar.tsx
  frontend/src/Components/goals/CreateGoals.tsx
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Components/goals/GoalsList.tsx
  frontend/src/Components/goals/GoalsStatistics.tsx
  frontend/src/Components/home/Home.tsx
  frontend/src/Components/home/MenteeInfo.tsx
  frontend/src/Components/home/Scheduler.tsx
  frontend/src/Components/home/Statistics.tsx
Due: build frontend

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml
