Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml

Pass headers to get_venues endpoint
  baytree_app/views_api/participants.py
  baytree_app/views_api/venues.py
Due: build server

Pass headers to volunteer endpoints
  baytree_app/views_api/volunteers.py
Due: build server

Pass headers to session groups endpoint
  baytree_app/views_api/session_groups.py
Due: build server

Pass headers to questionnaires endpoints
  baytree_app/questionnaires/views.py
Due: build server

address comments
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

update calls to logger
  baytree_app/baytree_app/middleware.py
  baytree_app/calendar_events/views.py
  baytree_app/resources/views.py
Due: build server

Added mock xml data
  views_mock/views_api/views.py
Due: none

reverted back to handling xml response
  baytree_app/views_api/venues.py
Due: build server

remove uneccessary comments
  baytree_app/resources/views.py
Due: build server

allow error toasts to close automatically
  frontend/src/pages/Sessions.tsx
Due: build frontend

increase auto close time to allow user enough time to read message
  frontend/src/pages/Sessions.tsx
Due: build frontend

rename functions and messages
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

Reverted back to xml parsing
  baytree_app/views_api/associations.py
Due: build server

Fix typo and add logging to get volunteering types endpoint
  baytree_app/baytree_app/middlewares/ViewsAuthMiddleware.py
  baytree_app/questionnaires/views.py
  baytree_app/views_api/activities.py
  baytree_app/views_api/associations.py
  baytree_app/views_api/venues.py
  baytree_app/views_api/volunteeringTypes.py
  baytree_app/views_api/volunteers.py
Due: build server

Add logging for missing access token to ViewsAuthMiddleware
  baytree_app/baytree_app/middlewares/ViewsAuthMiddleware.py
Due: build server

Default type for headers should be dict
  baytree_app/views_api/questionnaires.py
  baytree_app/views_api/session_groups.py
  baytree_app/views_api/sessions.py
  baytree_app/views_api/volunteers.py
Due: build server

Set Accept headers to application/json in activities and volunteering types endpoints temporarily
  baytree_app/views_api/activities.py
  baytree_app/views_api/volunteeringTypes.py
Due: build server

Move LoggingMiddleware after ViewsAuthMiddleware
  baytree_app/baytree_app/settings.py
Due: build server

Added header usage
  baytree_app/views_api/associations.py
Due: build server

Added header usage and reverted back to xml parsing
  baytree_app/views_api/participants.py
Due: build server

Added mock data and set up endpoint
  views_mock/views_api/urls.py
  views_mock/views_api/views.py
Due: none

Fix accept headers
  baytree_app/baytree_app/middlewares/ViewsAuthMiddleware.py
Due: build server

simplify fluent logging handler
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

update calls to logger
  baytree_app/baytree_app/middlewares/LoggingMiddleware.py
  baytree_app/calendar_events/views.py
Due: build server

fix problem with accessing url from response by accepting a url argument instead
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/middlewares/LoggingMiddleware.py
  baytree_app/calendar_events/views.py
Due: build server

attach request method to logs
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

update: added sessions model
  views_mock/views_mock/settings.py
  views_mock/views_sessions/migrations/0001_initial.py
  views_mock/views_sessions/migrations/0002_session_venue_name_alter_session_venue_id.py
  views_mock/views_sessions/models.py
Due: none

Addressed comment
  views_mock/views_api/views.py
Due: none

use full url for request and response logs
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/middlewares/LoggingMiddleware.py
  baytree_app/calendar_events/views.py
Due: build server

Move @types packages to devDependencies
  admin-frontend/package.json
Due: build admin-frontend

Sort package.json
  admin-frontend/package.json
Due: build admin-frontend

address comments
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/middlewares/LoggingMiddleware.py
  baytree_app/calendar_events/views.py
Due: build server

use ternary operator
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

format component
  admin-frontend/components/shared/datagrid/hooks/useDataLogic.tsx
Due: build admin-frontend

validate the start date and end date fields
  admin-frontend/components/shared/datagrid/hooks/useDataLogic.tsx
Due: build admin-frontend

fixed wrong environment variable format in docker-compose
  docker-compose.deploy.yml
  docker-compose.yml
Due: none

add logic for admin vs frontend
  baytree_app/baytree_app/FluentLoggingHandler.py
Due: build server

improve formatting
  admin-frontend/components/shared/datagrid/datagridBody.tsx
Due: build admin-frontend
