Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml

Update .gitlab-ci.yml to install shared-apps
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

Update .gitlab-ci.yml to install shared-apps
  README.md
Due: none

Set default VIEWS_BASE_URL in settings.py
  baytree_app/baytree_app/constants.py
  baytree_app/baytree_app/settings.py
  baytree_app/notifications/constants.py
  baytree_app/views_api/constants.py
Due: build server

test
  docker-compose.override.yml
  docker-compose.yml
  views_mock/views_api/migrations/0001_initial.py
  views_mock/views_api/models.py
  views_mock/views_mock/settings.py
Due: none

rename method names in FluentLoggingHandler to be more clear
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/middleware.py
  baytree_app/calendar_events/views.py
  baytree_app/resources/views.py
Due: build server

include url in response logs
  baytree_app/baytree_app/FluentLoggingHandler.py
  baytree_app/baytree_app/middleware.py
  baytree_app/calendar_events/views.py
  baytree_app/resources/views.py
Due: build server

improve formatting of hooks
  frontend/src/hooks/useActivities.ts
  frontend/src/hooks/useMentees.ts
  frontend/src/hooks/useVenues.ts
Due: build frontend

Make error messages more clear to the user
  frontend/src/hooks/useActivities.ts
  frontend/src/hooks/useMentees.ts
  frontend/src/hooks/useVenues.ts
Due: build frontend

allow debug level logs to appear in the server_application.log file
  baytree_app/baytree_app/settings.py
Due: build server

Removed unnecessary variables from yml file
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

Added endpoint mocking data for venues
  views_mock/views_api/urls.py
  views_mock/views_api/views.py
Due: none

Changed xml parsing functions to handle json
  baytree_app/views_api/venues.py
Due: build server

Added json header
  baytree_app/views_api/venues.py
Due: build server

Added cookie header
  baytree_app/views_api/activities.py
Due: build server

Added mock endpoint and mock data
  views_mock/views_api/urls.py
  views_mock/views_api/views.py
Due: none

Addressed comment
  baytree_app/views_api/venues.py
Due: build server

Added access_token and accept header to requests
  baytree_app/views_api/questionnaires.py
Due: build server

Added endpoint with mock data and configured url
  views_mock/views_api/urls.py
  views_mock/views_api/views.py
Due: none

Added access_token to requests
  baytree_app/views_api/session_groups.py
Due: build server

Created mock endpoints and data
  views_mock/views_api/urls.py
  views_mock/views_api/views.py
Due: none

Added note regarding request parameters
  views_mock/views_api/views.py
Due: none

commit
  views_mock/views_api/models.py
  views_mock/views_mock/settings.py
  views_mock/views_mock/urls.py
  views_mock/volunteering_types/__init__.py
  views_mock/volunteering_types/admin.py
  views_mock/volunteering_types/apps.py
  views_mock/volunteering_types/migrations/0001_initial.py
  views_mock/volunteering_types/migrations/0002_volunteeringtype_type.py
  views_mock/volunteering_types/migrations/0003_alter_volunteeringtype_table.py
  views_mock/volunteering_types/migrations/0004_alter_volunteeringtype_table.py
  views_mock/volunteering_types/migrations/__init__.py
  views_mock/volunteering_types/models.py
  views_mock/volunteering_types/tests.py
  views_mock/volunteering_types/urls.py
  views_mock/volunteering_types/views.py
Due: none

Create a middleware to attach access_token to requests going from baytree to mock views
  baytree_app/baytree_app/middleware.py
  baytree_app/baytree_app/settings.py
  baytree_app/views_api/volunteeringTypes.py
Due: build server

Modify middleware to determine authentication method and pass headers to views endpoints
  baytree_app/baytree_app/middleware.py
  baytree_app/views_api/volunteeringTypes.py
  docker-compose.yml
Due: build server

Added mock endpoint and data
  views_mock/views_api/urls.py
  views_mock/views_api/views.py
Due: none

Converted xml parsing to json
  baytree_app/views_api/associations.py
Due: build server

Added access_token as parameter
  baytree_app/questionnaires/views.py
  baytree_app/views_api/sessions.py
Due: build server

Changed response parsing from xml to json
  baytree_app/views_api/participants.py
Due: build server

Separate middlewares
  baytree_app/baytree_app/middlewares/LoggingMiddleware.py
  baytree_app/baytree_app/middlewares/ViewsAuthMiddleware.py
  baytree_app/baytree_app/settings.py
Due: build server

Pass headers to get_activites_endpoint
  baytree_app/views_api/activities.py
Due: build server

Pass headers to get_questionnaires_endpoint
  baytree_app/views_api/questionnaires.py
Due: build server

Pass headers to get_participants_endpoint
  baytree_app/views_api/participants.py
Due: build server

Pass headers to get_session_groups_endpoint
  baytree_app/views_api/session_groups.py
Due: build server

Setup a django appp for mocking views sessions
  views_mock/views_sessions/__init__.py
  views_mock/views_sessions/admin.py
  views_mock/views_sessions/apps.py
  views_mock/views_sessions/migrations/__init__.py
  views_mock/views_sessions/models.py
  views_mock/views_sessions/tests.py
  views_mock/views_sessions/views.py
Due: none

Change content type from JSON to XML
  baytree_app/baytree_app/middlewares/ViewsAuthMiddleware.py
Due: build server

Accept all content types
  baytree_app/baytree_app/middlewares/ViewsAuthMiddleware.py
Due: build server

Revert to parsing XML in get_participants_endpoint
  baytree_app/views_api/participants.py
Due: build server

Pass headers to sessions and associations endpoints
  baytree_app/records/views.py
  baytree_app/views_api/associations.py
  baytree_app/views_api/sessions.py
Due: build server
