Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml

Implement datagrid paged select load logic and update datagrid types
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridTypes.tsx
  admin-frontend/pages/calendarEvents.tsx
  admin-frontend/pages/mentorRoles.tsx
  admin-frontend/pages/venues.tsx
Due: build admin-frontend

Update client code for session groups api call
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Add datagrid paginated select column onChange, refactor
  admin-frontend/components/shared/datagrid/datagridCell.tsx
Due: build admin-frontend

Rewrite session group options to paginate and refactor datagrid interface
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridTypes.tsx
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Pass select page loading func to DataGridCell, fix types
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridTypes.tsx
Due: build admin-frontend

Cache dependencies
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

Fix tests
  frontend/cypress/components/goals/GoalListItem.cy.tsx
  frontend/src/Components/goals/GoalListItem.tsx
Due: build frontend

Fix the chunks
  frontend/vite.config.ts
Due: build frontend

Update outdated frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Update vite config to ensure port 3000 upon package update
  frontend/vite.config.ts
Due: build frontend

Update outdated admin frontend package dependencies
  admin-frontend/package-lock.json
  admin-frontend/package.json
Due: build admin-frontend

Fix backend
  baytree_app/users/views.py
Due: build server

Expose frontend host for docker
  frontend/package.json
  frontend/vite.config.ts
Due: build frontend

Implement checks for paginated vs. non-paginated select component
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridSelectComponent.tsx
  admin-frontend/components/shared/paginatedSelect.tsx
Due: build admin-frontend

Implement paginated select in shared datagrid and settings page
  admin-frontend/components/shared/datagrid/datagridSelectComponent.tsx
  admin-frontend/components/shared/datagrid/datagridTypes.tsx
  admin-frontend/components/shared/paginatedSelect.tsx
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Fix z-index issue with paginated select on datagrid
  admin-frontend/components/shared/paginatedSelect.tsx
Due: build admin-frontend

Fix changed cell bug for multiselect columns
  admin-frontend/components/shared/datagrid/datagridRowLogic.tsx
Due: build admin-frontend

Fix mentor roles endpoint and datagrid paginate bugs
  admin-frontend/components/shared/datagrid/datagridSelectComponent.tsx
  admin-frontend/components/shared/datagrid/hooks/useDataLogic.tsx
  baytree_app/users/serializers.py
Due: build admin-frontend, build server

Make questionnaires select paginated in settings page and fix bugs
  admin-frontend/api/backend/base.ts
  admin-frontend/components/shared/datagrid/datagridSelectComponent.tsx
  admin-frontend/pages/mentorRoles.tsx
  baytree_app/views_api/questionnaires.py
Due: build admin-frontend, build server

Do an npm install
  admin-frontend/package-lock.json
Due: build admin-frontend

Fix zIndex issue for paginated select on home page
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  admin-frontend/components/shared/paginatedSelect.tsx
Due: build admin-frontend

Use mentor role session groups for session statistics
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
Due: build admin-frontend

Add code coverage
  .gitlab-ci.yml
  frontend/.gitignore
  frontend/cypress.config.ts
  frontend/cypress/support/component.tsx
  frontend/cypress/support/e2e.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: build frontend, build admin-frontend, build server

Remove unused files
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
Due: build frontend

Less verbose output when testing
  .gitlab-ci.yml
  frontend/package.json
  frontend/vite.config.ts
Due: build frontend, build admin-frontend, build server

Add attendance to post session endpoint
  baytree_app/views_api/sessions.py
Due: build server

Update correct mentor attendance on cancelled session
  baytree_app/views_api/sessions.py
  frontend/src/Components/sessions/session.ts
Due: build frontend, build server

Add Views workaround to set no attendance
  baytree_app/views_api/sessions.py
Due: build server

Fix choosing mentee bug by request params
  baytree_app/views_api/sessions.py
Due: build server

Create note under participant for cancelled sessions
  baytree_app/views_api/sessions.py
Due: build server

Move cancelled session checkbox
  frontend/src/Components/sessions/Sessions.tsx
Due: build frontend

Fix checkbox not reset after form reset
  frontend/src/Components/sessions/Sessions.tsx
  frontend/src/Components/sessions/session.ts
Due: build frontend

Create fixture to preload ukholiday DB with Uk holidays
  baytree_app/calendar_events/fixtures/ukHolidays.json
Due: build server

Add uk holiday load data command to delpy from dockerhub deploy script
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

Add docker execution command to load data from uk holidays fixture
  scripts/setup_production.sh
Due: none

Add docker execution command to load data from uk holidays fixture
  scripts/update.sh
Due: none

Create model for uk holiday database table
  baytree_app/calendar_events/models.py
Due: build server

Create serializer for uk holiday model
  baytree_app/calendar_events/serializers.py
Due: build server

Add url pattern for ulk holiday list api view
  baytree_app/calendar_events/urls.py
Due: build server
