Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml

Add mentee names back to the UI
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/api/goals.ts
Due: build frontend

Add first language property to participant unparsed interface
  admin-frontend/api/backend/views/participants.ts
Due: build admin-frontend

Add first language property to volunteer unparsed interface
  admin-frontend/api/backend/views/volunteers.ts
Due: build admin-frontend

Remove birth country demographic and replace with first language demographic
  admin-frontend/components/pages/home/menteeDemographicsCard.tsx
Due: build admin-frontend

Remove birth country demographic and replace with first language demographic
  admin-frontend/components/pages/home/mentorDemographicsCard.tsx
Due: build admin-frontend

Add first language field to participant and participant translate field lists
  baytree_app/views_api/participants.py
Due: build server

Add first language field to volunteer and volunteer translate field lists
  baytree_app/views_api/volunteers.py
Due: build server

Add API endpoints for statistics
  baytree_app/goals/urls.py
  baytree_app/goals/views.py
Due: build server

Use goal context
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Components/goals/GoalsList.tsx
  frontend/src/Components/goals/GoalsStatistics.tsx
  frontend/src/api/goals.ts
  frontend/src/context/GoalContext.tsx
Due: build frontend

Update active goals summary
  frontend/src/Components/goals/GoalDialog.tsx
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/GoalsMiniList.tsx
  frontend/src/hooks/useGoalCategories.ts
  frontend/src/hooks/useGoals.ts
Due: build frontend

Use pagination for goals
  frontend/src/Components/goals/Goals.tsx
  frontend/src/Components/goals/GoalsList.tsx
  frontend/src/Components/goals/GoalsStatistics.tsx
  frontend/src/api/goals.ts
  frontend/src/context/GoalContext.tsx
Due: build frontend

Update CSV export
  frontend/src/Components/goals/GoalExportButton.tsx
  frontend/src/Components/goals/GoalsList.tsx
Due: build frontend

Remove packages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Notification.tsx
Due: build frontend

Improve login screen
  frontend/src/Components/Login.tsx
Due: build frontend

Extract layout for reusing purpose
  frontend/src/Components/Login.tsx
  frontend/src/Components/shared/PublicLayout.tsx
Due: build frontend

Reuse layout on creation account page
  frontend/src/App.tsx
  frontend/src/Components/CreateAccount.tsx
  frontend/src/Components/Login.tsx
  frontend/src/Components/shared/PublicLayout.tsx
Due: build frontend

Create form directory
  frontend/src/App.tsx
  frontend/src/Components/forms/CreateAccount.tsx
  frontend/src/Components/forms/Login.tsx
  frontend/src/Components/forms/ResetPassword.tsx
Due: build frontend

Update link in email
  baytree_app/users/urls.py
  baytree_app/users/views.py
Due: build server

Enforce strong pasword on frontend
  frontend/src/Components/forms/CreateAccount.tsx
  frontend/src/Components/shared/PasswordValidation.tsx
Due: build frontend

Split reset password route
  frontend/src/App.tsx
  frontend/src/Components/forms/ResetPassword.tsx
  frontend/src/Components/forms/ResetPasswordRequest.tsx
Due: build frontend

Remove calander events
  frontend/src/Utils/CalendarEvents.ts
Due: build frontend

Change resources
  baytree_app/resources/constants.py
  baytree_app/resources/permissions.py
  baytree_app/resources/urls.py
  baytree_app/resources/views.py
  frontend/src/api/misc.ts
Due: build frontend, build server

Update side menu
  frontend/src/Components/dashboard/SideMenu.tsx
Due: build frontend

Profile page
  frontend/src/Components/Profile.tsx
  frontend/src/Utils/retreiveProfile.tsx
Due: build frontend

Small changes
  frontend/src/Components/forms/Login.tsx
Due: build frontend

Small changes in session UI
  frontend/src/Components/sessions/Sessions.tsx
Due: build frontend

Fix pipeline
  frontend/src/Components/dashboard/SideMenu.tsx
Due: build frontend

Add seeding commands
  .gitlab-ci.yml
  scripts/setup_production.sh
  scripts/update.sh
Due: build frontend, build admin-frontend, build server

Add more noticable error message for when mentee questionnaire submits and mentor submission fails
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Fix extra column space in shared datagrid and start date display in mentor sessions modal
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionsModal.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/pages/home.tsx
Due: build admin-frontend

Convert notes to a modal action button instead
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionsModal.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionsNotesModal.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
Due: build admin-frontend

Create session details service function
  admin-frontend/api/backend/views/sessions.ts
Due: build admin-frontend

Create useSessionDetails hook and initial session notes modal
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionsModal.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionsNotesModal.tsx
  admin-frontend/hooks/useSessionDetails.tsx
Due: build admin-frontend

Fix delete action bug for shared datagrid, update comments
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridRowLogic.tsx
  admin-frontend/components/shared/datagrid/datagridTypes.tsx
Due: build admin-frontend

Rename function
  frontend/src/Components/goals/GoalExportButton.tsx
Due: build frontend

Implement Notes modal and clean up UI a bit
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionsNotesModal.tsx
Due: build admin-frontend

Change year to academic year and sort by session start date descending
  admin-frontend/components/pages/home/MentorSessionTrackingCard/Header.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionsModal.tsx
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
Due: build admin-frontend

Fix edge case where sessions weren't counte on last aug day
  admin-frontend/components/pages/home/MentorSessionTrackingCard/MentorSessionTrackingCard.tsx
Due: build admin-frontend

Change number of show mentors per page to 20
  admin-frontend/components/pages/home/MentorSessionTrackingCard/SessionTrackingTable.tsx
Due: build admin-frontend

More loading buttons
  frontend/src/Components/forms/ResetPassword.tsx
Due: build frontend
