Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

build frontend:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - cd frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
  - docker
  before_script:
  - cd admin-frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run export
  after_script:
  - ls -l admin-frontend
  - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: mariadb:5.5
    alias: test_mysql
  tags:
  - docker
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ''
    EMAIL_PORT: ''
  ...

trimmed down session models
  views_mock/contacts/migrations/0002_rename_volunteers_volunteer.py
  views_mock/views_api/migrations/0003_rename_agegroupfrom_sessiongroup_otherstaff_and_more.py
  views_mock/views_api/models.py
Due: none

address comments
  views_mock/admin_valuelists/migrations/0003_alter_valuelist_type_alter_valuelistitem_valuelist_and_more.py
  views_mock/admin_valuelists/migrations/0004_alter_valuelist_type.py
  views_mock/admin_valuelists/models.py
Due: none

Fixed bug and applied migration
  views_mock/evidence/migrations/0001_initial.py
  views_mock/evidence/models.py
Due: none

Removed questionnaires files
  views_mock/questionnaire/migrations/0001_initial.py
  views_mock/questionnaire/migrations/__init__.py
Due: none

Made fields required as needed
  views_mock/evidence/models.py
Due: none

Apply 4 suggestion(s) to 1 file(s)
  views_mock/evidence/models.py
Due: none

Applied migration
  views_mock/evidence/migrations/0002_alter_answer_answersetid_alter_answer_questionid_and_more.py
Due: none

MR recommendations
  views_mock/views_api/migrations/0004_remove_staffsession_contacttype_session_startdate_and_more.py
  views_mock/views_api/models.py
Due: none

more changes
  views_mock/views_api/migrations/0005_alter_session_created.py
  views_mock/views_api/migrations/0006_alter_staffsession_name_and_more.py
  views_mock/views_api/models.py
Due: none

more changes
  views_mock/views_api/migrations/0007_alter_sessiongroup_leadstaff.py
  views_mock/views_api/models.py
Due: none

moved session models to another app
  views_mock/contacts/migrations/0002_rename_volunteers_volunteer.py
  views_mock/views_api/migrations/0001_initial.py
  views_mock/views_api/migrations/0002_sessiongroup.py
  views_mock/views_api/migrations/0003_rename_agegroupfrom_sessiongroup_otherstaff_and_more.py
  views_mock/views_api/migrations/0004_remove_staffsession_contacttype_session_startdate_and_more.py
  views_mock/views_api/migrations/0005_alter_session_created.py
  views_mock/views_api/migrations/0006_alter_staffsession_name_and_more.py
  views_mock/views_api/migrations/0007_alter_sessiongroup_leadstaff.py
  views_mock/views_mock/settings.py
  views_mock/views_sessions/__init__.py
  views_mock/views_sessions/admin.py
  views_mock/views_sessions/apps.py
  views_mock/views_sessions/migrations/0001_initial.py
  views_mock/views_sessions/migrations/__init__.py
  views_mock/views_sessions/models.py
  views_mock/views_sessions/tests.py
  views_mock/views_sessions/views.py
Due: none

Added db_column attribute
  views_mock/views_sessions/migrations/0002_alter_session_sessiongroupid_and_more.py
  views_mock/views_sessions/models.py
Due: none

Queried Questionnaire data and moved get questionnaire by id func
  views_mock/views_api/questionnaires.py
  views_mock/views_api/urls.py
  views_mock/views_api/views.py
Due: none

temporaily commented code
  baytree_app/questionnaires/views.py
Due: build server

reverted temp commit
  baytree_app/questionnaires/views.py
Due: build server

removed print statements
  baytree_app/questionnaires/views.py
Due: build server

Added search questionnaires function
  views_mock/views_api/questionnaires.py
  views_mock/views_api/urls.py
  views_mock/views_api/views.py
Due: none

add missing comma to installed apps
  views_mock/views_mock/settings.py
Due: none

Added function to add auth to header
  baytree_app/baytree_app/middlewares/ViewsAuthMiddleware.py
  baytree_app/questionnaires/views.py
Due: build server

Reverted changes
  baytree_app/baytree_app/middlewares/ViewsAuthMiddleware.py
  baytree_app/questionnaires/views.py
Due: build server

Moved functions to views_api/questionnaires
  baytree_app/questionnaires/views.py
  baytree_app/views_api/questionnaires.py
Due: build server

Updated urls
  baytree_app/baytree_app/urls.py
  baytree_app/views_api/urls.py
Due: build server

Deleted unnecessary files
  baytree_app/questionnaires/admin.py
  baytree_app/questionnaires/apps.py
  baytree_app/questionnaires/models.py
  baytree_app/questionnaires/tests.py
  baytree_app/questionnaires/urls.py
Due: build server

Updated frontend
  frontend/src/api/misc.ts
Due: build frontend

Removed print statements
  baytree_app/views_api/questionnaires.py
Due: build server

run logger tests before starting server
  docker-compose.override.yml
Due: none

exit out of container if unit tests fail
  docker-compose.override.yml
Due: none

Fixed bugs
  views_mock/views_api/questionnaires.py
Due: none

Deleted unnecessary files
  views_mock/views_api/admin.py
  views_mock/views_api/models.py
Due: none

create critical level log if tests fail
  baytree_app/baytree_app/testing/FluentLoggerTests.py
  baytree_app/baytree_app/testing/test_failure_log.py
  docker-compose.override.yml
Due: build server

fix fluent logger tests
  baytree_app/baytree_app/testing/FluentLoggerTests.py
Due: build server

Removed outdated comment
  baytree_app/views_api/volunteeringTypes.py
Due: build server

Added enum class for Name
  views_mock/admin_valuelists/migrations/0005_alter_valuelist_name.py
  views_mock/admin_valuelists/models.py
Due: none

Fixed logging bug
  baytree_app/views_api/volunteeringTypes.py
Due: build server

Moved functions and updated urls
  views_mock/views_api/urls.py
  views_mock/views_api/valuelists.py
  views_mock/views_api/views.py
Due: none

Removed comments
  views_mock/views_api/valuelists.py
Due: none

Fixed valueLists with id endpoint url
  views_mock/views_api/urls.py
Due: none

refactored method to get valuelistitems and completed valuelists endpoint
  views_mock/views_api/valuelists.py
Due: none

Completed activities endpoint
  views_mock/views_api/valuelists.py
Due: none

Completed venues endpoint
  views_mock/views_api/valuelists.py
Due: none

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml
