Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

build frontend:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - cd frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
  - docker
  before_script:
  - cd admin-frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run export
  after_script:
  - ls -l admin-frontend
  - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: mariadb:5.5
    alias: test_mysql
  tags:
  - docker
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ''
    EMAIL_PORT: ''
  ...

Created endpoints for answer submission
  views_mock/views_api/questionnaires.py
Due: none

Fixed AnswerSet model
  views_mock/evidence/migrations/0003_remove_answerset_questionid_and_more.py
  views_mock/evidence/models.py
Due: none

update comment
  admin-frontend/components/pages/home/menteeDemographicsCard.tsx
  baytree_app/views_api/participants.py
Due: build admin-frontend, build server

add comments for 'test fluent-logger' CI-CD process
  .gitlab-ci.yml
Due: build frontend, build admin-frontend, build server

Added missing db column to Answer model
  views_mock/evidence/migrations/0004_alter_answer_questionnaireid.py
  views_mock/evidence/models.py
Due: none

Fixed bugs in endpoint
  views_mock/views_api/questionnaires.py
Due: none

Reverted temp changes
  baytree_app/views_api/questionnaires.py
Due: build server

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml
