Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

build frontend:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - cd frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
  - docker
  before_script:
  - cd admin-frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run export
  after_script:
  - ls -l admin-frontend
  - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: mariadb:5.5
    alias: test_mysql
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ''
  ...

Implement datagrid component logic
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridBody.tsx
  admin-frontend/components/shared/datagrid/datagridBodyCreatedDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridBodyDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridLogic.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
Due: build admin-frontend

Implement datagridRow logic, add create row, delete buttons
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridLogic.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridRowLogic.tsx
Due: build admin-frontend

Get initial datagrid loading data and displaying
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridHeaderRow.tsx
  admin-frontend/components/shared/datagrid/datagridLogic.tsx
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Fix Bugs with loading and changed rows
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridBody.tsx
  admin-frontend/components/shared/datagrid/datagridBodyCreatedDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridBodyDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridHeaderRow.tsx
  admin-frontend/components/shared/datagrid/datagridLogic.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridRowLogic.tsx
Due: build admin-frontend

Fully implement CRUD in shared datagrid, styling
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridBody.tsx
  admin-frontend/components/shared/datagrid/datagridBodyCreatedDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridHeaderRow.tsx
  admin-frontend/components/shared/datagrid/datagridLogic.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
Due: build admin-frontend

Add read-only version of datagrid if no save function prop
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridHeaderRow.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/pages/mentorRoles.tsx
  admin-frontend/pages/mentors.tsx
Due: build admin-frontend

Use new datagrid in mentors page, fix bugs
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/pages/mentorRoles.tsx
  admin-frontend/pages/mentors.tsx
  baytree_app/questionnaires/migrations/0002_auto_20220526_2040.py
  baytree_app/questionnaires/models.py
  baytree_app/users/urls.py
Due: build admin-frontend, build server

Fix imports and exports
  frontend/src/Components/Records.tsx
  frontend/src/Components/home/Scheduler.tsx
  frontend/src/Components/home/Statistics.tsx
  frontend/src/api/mentorAccount.ts
  frontend/src/api/misc.ts
Due: build frontend

Implement full batch crud mentor role endpoints and fix datagrid bugs
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridBody.tsx
  admin-frontend/components/shared/datagrid/datagridBodyCreatedDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridLogic.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridRowLogic.tsx
  admin-frontend/pages/mentorRoles.tsx
  baytree_app/users/serializers.py
  baytree_app/users/views.py
Due: build admin-frontend, build server

Fix invalid row changed bug in datagrid
  admin-frontend/components/shared/datagrid/datagridHeaderRow.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridRowLogic.tsx
Due: build admin-frontend

Enable DRF pagination and reformat settings
  baytree_app/baytree_app/settings.py
Due: build server

Universal loading screen
  frontend/src/Components/questionnaire/LoadingScreen.tsx
  frontend/src/Components/questionnaire/QuestionField.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/Components/shared/Loading.tsx
  frontend/src/Utils/PrivateRoute.tsx
  frontend/src/Utils/PublicRoute.tsx
Due: build frontend

Fetch user profile with hook
  frontend/src/Components/Profile.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/hooks/useProfile.ts
Due: build frontend

Add built-in pagination to shared datagrid component
  admin-frontend/api/backend/activities.ts
  admin-frontend/api/backend/base.ts
  admin-frontend/api/backend/mentorRoles.ts
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridLogic.tsx
  admin-frontend/pages/mentorRoles.tsx
  admin-frontend/pages/mentors.tsx
  baytree_app/baytree_app/settings.py
Due: build admin-frontend, build server

Separate user profile from authentication context
  frontend/src/context/AuthContext.tsx
Due: build frontend

Implement case-insensitive datagrid searching
  admin-frontend/api/backend/base.ts
  admin-frontend/api/backend/mentorRoles.ts
  admin-frontend/components/shared/Navbar/topbar.tsx
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridLogic.tsx
  admin-frontend/components/shared/datagrid/datagridSearchBar.tsx
  admin-frontend/components/shared/datagrid/datagridSearchBarLogic.tsx
  admin-frontend/pages/mentorRoles.tsx
  baytree_app/users/views.py
Due: build admin-frontend, build server

Add category field to question type
  frontend/src/Components/questionnaire/QuestionField.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/api/misc.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/hooks/useProfile.ts
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

Reduce hardcoded strings
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

Add last login to response data on user log in
  baytree_app/baytree_app/views.py
Due: build server

Create date field to store when data privacy was consented to for mentor users
  baytree_app/users/models.py
Due: build server

Remove view to check if mentor has logged in
  baytree_app/users/urls.py
  baytree_app/users/views.py
Due: build server

Add route from login to home
  frontend/src/App.tsx
Due: build frontend

Change handle login function to work with last login in login response
  frontend/src/Components/Login.tsx
Due: build frontend

Add logout function prop for login modal button
  frontend/src/Components/shared/LoginModal.tsx
Due: build frontend

Add prop for setting user Id to autho context provider
  frontend/src/context/AuthContext.tsx
Due: build frontend

Add datarow actions to shared datagrid
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridBody.tsx
  admin-frontend/components/shared/datagrid/datagridBodyCreatedDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridBodyDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridRowActionsCell.tsx
  admin-frontend/components/shared/datagrid/datagridRowLogic.tsx
  admin-frontend/pages/mentorRoles.tsx
Due: build admin-frontend

Update custom user model to include data privacy consent field instead of mentor user
  baytree_app/users/models.py
Due: build server

Update user data privacy consent on verify
  baytree_app/baytree_app/views.py
Due: build server

Add user data privacy consent to login token response
  baytree_app/baytree_app/views.py
Due: build server

Update statement to check for data privacy consent in login response
  frontend/src/Components/Login.tsx
Due: build frontend

Update UI to better reflect data privacy consent choice
  frontend/src/Components/shared/LoginModal.tsx
Due: build frontend

Add migration history
  baytree_app/users/migrations/0022_mentoruser_dataprivacyconsent.py
  baytree_app/users/migrations/0023_auto_20220528_1919.py
  baytree_app/users/migrations/0024_remove_customuser_dataprivacyconsent.py
  baytree_app/users/migrations/0025_customuser_data_privacy_consent.py
  baytree_app/users/migrations/0026_alter_customuser_data_privacy_consent.py
  baytree_app/users/migrations/0027_remove_customuser_data_privacy_consent.py
  baytree_app/users/migrations/0028_customuser_data_privacy_consent.py
Due: build server

Add dependencies for react icon use
  frontend/package-lock.json
Due: build frontend

Create holiday models and its API
  baytree_app/baytree_app/settings.py
  baytree_app/baytree_app/urls.py
  baytree_app/holidays/__init__.py
  baytree_app/holidays/admin.py
  baytree_app/holidays/apps.py
  baytree_app/holidays/migrations/0001_initial.py
  baytree_app/holidays/migrations/0002_rename_holidays_holiday.py
  baytree_app/holidays/migrations/__init__.py
  baytree_app/holidays/models.py
  baytree_app/holidays/serializers.py
  baytree_app/holidays/tests.py
  baytree_app/holidays/urls.py
  baytree_app/holidays/views.py
Due: build server

Refactor code
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridBody.tsx
  admin-frontend/components/shared/datagrid/datagridLogic.tsx
  admin-frontend/pages/mentorRoles.tsx
  admin-frontend/pages/mentors.tsx
Due: build admin-frontend

Add new datagrid for add mentor
  admin-frontend/components/pages/mentors/addMentorModal.tsx
  admin-frontend/components/shared/Modal.tsx
  admin-frontend/components/shared/datagrid/datagridRowActionsCell.tsx
  baytree_app/views_api/volunteers.py
Due: build admin-frontend, build server

Add API to fetch the mentee info by the mentor
  baytree_app/views_api/participants.py
  baytree_app/views_api/urls.py
  baytree_app/views_api/volunteers.py
Due: build server

Detect auto fill and populate the data
  frontend/src/Components/Profile.tsx
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/api/mentorAccount.ts
  frontend/src/api/views.ts
  frontend/src/hooks/useProfile.ts
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

Refactor code and migrations, remove activity model
  admin-frontend/api/backend/mentorRoles.ts
  admin-frontend/components/pages/mentors/addMentorModal.tsx
  admin-frontend/components/shared/datagrid/datagrid.tsx
  admin-frontend/components/shared/datagrid/datagridAddRow.tsx
  admin-frontend/components/shared/datagrid/datagridBody.tsx
  admin-frontend/components/shared/datagrid/datagridBodyCreatedDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridBodyDataRows.tsx
  admin-frontend/components/shared/datagrid/datagridCell.tsx
  admin-frontend/components/shared/datagrid/datagridDeleteCell.tsx
  admin-frontend/components/shared/datagrid/datagridExpandButton.tsx
  admin-frontend/components/shared/datagrid/datagridHeaderRow.tsx
  admin-frontend/components/shared/datagrid/datagridLoadingBody.tsx
  admin-frontend/components/shared/datagrid/datagridRow.tsx
  admin-frontend/components/shared/datagrid/datagridRowActionsCell.tsx
  admin-frontend/components/shared/datagrid/datagridRowLogic.tsx
  admin-frontend/components/shared/datagrid/datagridSearchBar.tsx
  admin-frontend/components/shared/datagrid/datagridSearchBarLogic.tsx
  admin-frontend/components/shared/datagrid/datagridTypes.tsx
  admin-frontend/components/shared/datagrid/hooks/useData.tsx
  admin-frontend/components/shared/datagrid/hooks/useDataLogic.tsx
  admin-frontend/components/shared/datagrid/hooks/useLoading.tsx
  admin-frontend/components/shared/datagrid/hooks/usePagination.tsx
  admin-frontend/components/shared/datagrid/hooks/useSearch.tsx
  admin-frontend/pages/mentorRoles.tsx
  admin-frontend/pages/mentors.tsx
  baytree_app/sessions/migrations/0008_initial_data.py
  baytree_app/sessions/migrations/0008_merge_0006_mentorsession_0007_alter_activity_name.py
  baytree_app/sessions/migrations/0009_delete_activity.py
  baytree_app/sessions/models.py
  baytree_app/sessions/serializers.py
  baytree_app/sessions/urls.py
  baytree_app/sessions/views.py
  baytree_app/users/migrations/0022_mentorrole.py
  baytree_app/users/migrations/0023_add_initial_data.py
  baytree_app/users/migrations/0024_alter_mentorrole_viewssessiongroupid.py
  baytree_app/users/migrations/0025_alter_mentorrole_activity.py
  baytree_app/users/migrations/0026_alter_mentorrole_activity.py
  baytree_app/users/models.py
Due: build admin-frontend, build server

Remove useMemo
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml
