Repository drbfraser/Baytree-MentorSupportTool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, build admin-frontend, build server

build frontend:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - cd frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd frontend/build && tar -czvf ../../frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend_build.tar.gz

build admin-frontend:
  stage: build
  image: node:14
  tags:
  - docker
  before_script:
  - cd admin-frontend
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run export
  after_script:
  - ls -l admin-frontend
  - cd admin-frontend/build && tar -czvf ../../admin_frontend_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: mariadb:5.5
    alias: test_mysql
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    MYSQL_HOST: baytree_database
    MYSQL_DATABASE: baytree
    MYSQL_USER: theuser
    MYSQL_PASSWORD: thepassword
    EMAIL_HOST: ''
  ...

Revert the change of views_api
  baytree_app/views_api/sessions.py
  baytree_app/views_api/urls.py
  baytree_app/views_api/util.py
  baytree_app/views_api/volunteers.py
Due: build server

Add empty notes and mentees
  baytree_app/views_api/sessions.py
Due: build server

Recover the record endpoints
  baytree_app/baytree_app/settings.py
  baytree_app/baytree_app/urls.py
  baytree_app/records/__init__.py
  baytree_app/records/admin.py
  baytree_app/records/apps.py
  baytree_app/records/migrations/__init__.py
  baytree_app/records/models.py
  baytree_app/records/tests.py
  baytree_app/records/urls.py
  baytree_app/records/views.py
Due: build server

Revert the changes
  baytree_app/views_api/constants.py
Due: build server

Create API calls to fetch a session
  frontend/src/api/records.ts
Due: build frontend

Create records directory
  frontend/src/App.tsx
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/Components/records/Records.tsx
  frontend/src/hooks/useMobileLayout.tsx
Due: build frontend

Responsive table
  frontend/src/Components/dashboard/Dashboard.tsx
  frontend/src/Components/records/Records.tsx
  frontend/src/api/records.ts
Due: build frontend

Design new record detail pop-up
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/Components/records/Records.tsx
Due: build frontend

Abort API calls when closing dialogs
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/Components/records/Records.tsx
  frontend/src/api/records.ts
Due: build frontend

Add POST for mentee questionnaire submission with logic that handles potential questionnaire answer set deletion
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Update answer set submission function to take in person of type string
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

Update questionnaire answer set post headers to contain a person of type string
  frontend/src/api/misc.ts
Due: build frontend

Update POST answer set submission to post both to the Mentee/Participant and Mentor/Volunteer
  baytree_app/questionnaires/views.py
Due: build server

Add delete answer set functionality
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend

Add async function to delete a questionnaire answer set
  frontend/src/api/misc.ts
Due: build frontend

Create new path to enable answer set deletion
  baytree_app/questionnaires/urls.py
Due: build server

Add incomplete delete answer set request handling contigent on future admin authorization to delete answer sets
  baytree_app/questionnaires/views.py
Due: build server

Exract out commonly used functionality to get mentee IDs to keep code DRY
  baytree_app/views_api/associations.py
Due: build server

Use new packages for calendar
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/home/HomeScheduler.tsx
Due: build frontend

Remove react-big-calendar
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/home/Home.tsx
  frontend/src/Components/home/HomeScheduler.tsx
  frontend/src/Components/home/Scheduler.tsx
Due: build frontend

Add recurrence rules
  frontend/package-lock.json
  frontend/package.json
Due: build frontend

Populate calendar with holidays
  frontend/src/Components/home/Scheduler.tsx
  frontend/src/hooks/useScheduler.ts
Due: build frontend

Support query params for record API call
  frontend/src/api/records.ts
Due: build frontend

Populate session data into the calendar
  frontend/src/Components/home/Scheduler.tsx
  frontend/src/Utils/sessionDate.ts
  frontend/src/api/records.ts
  frontend/src/hooks/useScheduler.ts
Due: build frontend

Rename params field in API call
  baytree_app/views_api/sessions.py
Due: build server

Add id to calander event
  frontend/src/Components/home/Scheduler.tsx
  frontend/src/api/misc.ts
  frontend/src/hooks/useScheduler.ts
Due: build frontend

Fix gray color text on session detail
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/Components/records/Records.tsx
  frontend/src/Components/shared/InfoTextField.tsx
Due: build frontend

Show session when clicking on session events
  frontend/src/Components/home/Scheduler.tsx
  frontend/src/hooks/useEventDetailPopup.ts
  frontend/src/hooks/useScheduler.ts
Due: build frontend

Add loading bar upon fetching events
  frontend/src/Components/home/Scheduler.tsx
  frontend/src/hooks/useScheduler.ts
Due: build frontend

Try adding ".html" to path if not found
  caddy/Caddyfile
Due: none

Add useless comment to allow pipeline to run on gitlab
  frontend/src/Components/Login.tsx
Due: build frontend

Add record pagination
  frontend/src/Components/records/Records.tsx
  frontend/src/api/records.ts
  frontend/src/hooks/useRecords.ts
Due: build frontend

Add react-query
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Utils/PrivateRoute.tsx
Due: build frontend

Cache the session detail
  frontend/src/Components/records/RecordDetail.tsx
  frontend/src/Components/records/Records.tsx
  frontend/src/api/records.ts
Due: build frontend

Remove deletion code as it is not necessary due to permissions
  baytree_app/questionnaires/urls.py
  baytree_app/questionnaires/views.py
  baytree_app/views_api/associations.py
  frontend/src/Components/questionnaire/Questionnaire.tsx
  frontend/src/api/misc.ts
  frontend/src/hooks/useQuestionnaire.ts
Due: build frontend, build server

Update questionnaire submission toast errors and add console errors
  frontend/src/Components/questionnaire/Questionnaire.tsx
Due: build frontend

Refactor to change all occurences of "holiday" to the more general term "calendar event".
  admin-frontend/api/backend/calendarEvents.ts
  admin-frontend/api/backend/holidays.ts
  admin-frontend/components/shared/Navbar/sidebarLinks.tsx
  admin-frontend/pages/holidays.tsx
  baytree_app/baytree_app/settings.py
  baytree_app/baytree_app/urls.py
  baytree_app/holidays/apps.py
  baytree_app/holidays/models.py
  baytree_app/holidays/serializers.py
  baytree_app/holidays/urls.py
  baytree_app/holidays/views.py
  frontend/src/Components/home/Scheduler.tsx
  frontend/src/Utils/CalendarEvents.ts
Due: build frontend, build admin-frontend, build server

Update goal API calls and crate custom hooks
  frontend/src/api/goals.ts
  frontend/src/hooks/useGoals.ts
Due: build frontend

Improve goal UI
  frontend/src/Components/goals/GoalListItem.tsx
  frontend/src/Components/goals/GoalStatus.tsx
  frontend/src/Components/goals/GoalsPage.tsx
  frontend/src/Components/goals/GoalsStatistics.tsx
  frontend/src/api/goals.ts
  frontend/src/hooks/useGoals.ts
Due: build frontend

CSV export and empty goal
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/goals/GoalsDetailList.tsx
  frontend/src/Components/goals/GoalsPage.tsx
  frontend/src/Components/goals/GoalsStatistics.tsx
  frontend/src/Utils/exportGoals.ts
Due: build frontend

Path conditions:
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  build admin-frontend: any of: admin-frontend/**/*, .gitlab-ci.yml
  build server: any of: baytree_app/**/*, .gitlab-ci.yml
